{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<style>
  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  </style>

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">Half-IF Spurious Rejection</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-md-auto box_form">
        <!-- Instantiate the form -->
        <form method="POST">
          {% csrf_token %}          
          <table class="table table-hover">
            <h5 align="center"> Half-IF calculation</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="IF frequency"> <!-- IF -->
                <td>
                  <div class="popup" onmouseover="help_IF()">
                    IF Frequency (MHz)
                    <span class="popuptext" id="Pop-up-IF">Intermediate Frequency (MHz)</span>
                  </div>
                </td>
                <td>
                  <input type="number" id="IF" min="0" value = "100" step="10" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>

              <tr class="RF frequency"> <!-- RF -->
                <td>
                  <div class="popup" onmouseover="help_RF()">
                    RF Frequency (MHz)
                    <span class="popuptext" id="Pop-up-RF">RF Frequency (MHz)</span>
                  </div>
                </td>
                <td>
                  <input type="number" id="RF" min="0" value = "900" step="10" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>

          <table class="table table-hover">
            <h5 align="center"> Receiver IIP2 Calculation</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
                  <tr class="Half-IF rejection frequency">
                    <td>
                      <div class="popup" onmouseover="help_Half_IF()">
                          Half-IF Rejection (dB)
                        <span class="popuptext" id="Pop-up-HIF">Filter rejection at half-IF</span>
                      </div>  
                    </td>
                    <td>
                      <input type="number" id="HIF_Rejection" value = "30" step="5" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>

                  <tr class="Sensitivity">
                    <td>
                      <div class="popup" onmouseover="help_Sensitivity()">
                          Sensitivity (dBm)
                        <span class="popuptext" id="Pop-up-Sensitivity">Receiver's sensitivity</span>
                      </div>  
                    </td>
                    <td>
                      <input type="number" id="Sensitivity" value = "-110" step="5" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>

                  <tr class="CoChannel Rejection">
                    <td>
                      <div class="popup" onmouseover="help_CI()">
                        C/I (dB)
                      <span class="popuptext" id="Pop-up-CI">Required C/I</span>
                      </div>  
                    </td>
                    <td>
                      <input type="number" id="CI" min="0" value = "10" step="5" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <a href="{% url 'ipn_nf_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>

      </div>

      <div class="col-md-auto box">
        <div class="row">
          <div class="col-xs-6 col-md-6" >
              <div class="card shadow-sm">
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/annotations.js"></script>
                <div id="container" style="width: 800px"></div>
              </div>
          </div>
        </div>
      <!-- Present the result -->
      <div class="col-md-auto">
        <div class="card-body">
            
            <table class="table table-light table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="4"><h5 align="center">Results</h5></th>
                </tr>
              </thead>
              <tbody>
                <tr> 
                    <td></sub></td>
                    <td> <b> LO (MHz) </b> </td>
                    <td> <b> Half-IF (MHz) </b> </td>
                    <td> <b> Receiver IIP2 (dBm) </b> </td>
                  </tr>
                <tr> 
                  <td>Low-side injection</sub></td>
                  <td> <p id="f_LO_low">800</p> </td>
                  <td> <p id="half_IF_low_injection">850</p> </td>
                  <td> <p id="IIP2_L">-5</p></td>
                </tr>
                <tr> 
                  <td>High-side injection</sub></td>
                  <td><p id="f_LO_high">1000</p></td>
                  <td><p id="half_IF_high_injection">850</p></td>
                  <td><p id="IIP2_H">-5</p></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
               
    </div>
  </div>

<script>
  // Pop-up helpers
  function help_IF() {
    // Intermediate Frequency
    var popup = document.getElementById("Pop-up-IF");
    popup.classList.toggle("show");
  }

  function help_RF(){
    // RF Carrier
    var popup = document.getElementById("Pop-up-RF");
    popup.classList.toggle("show");
  }

  function help_CI(){
    // C/I
    var popup = document.getElementById("Pop-up-CI");
    popup.classList.toggle("show");
  }

  function help_Half_IF() {
    // Half-IF helper
    var popup = document.getElementById("Pop-up-HIF");
    popup.classList.toggle("show");
  }

  function help_Sensitivity() {
    // Half-IF helper
    var popup = document.getElementById("Pop-up-Sensitivity");
    popup.classList.toggle("show");
  }

  function help_CI() {
    // Half-IF helper
    var popup = document.getElementById("Pop-up-CI");
    popup.classList.toggle("show");
  }
  </script>


<script>
  submit_form()
  function submit_form(){
    // Get variables from the form
    var IF = parseFloat(document.getElementById("IF").value);
    var RF = parseFloat(document.getElementById("RF").value);
    var HIF_Rejection = parseFloat(document.getElementById("HIF_Rejection").value);
    var Sensitivity = parseFloat(document.getElementById("Sensitivity").value);
    var CI = parseFloat(document.getElementById("CI").value);

    var f_LO_low = RF - IF
    var f_LO_high = RF + IF
        
    var half_IF_low_injection = 0.5*(RF + f_LO_low)
    var half_IF_high_injection = 0.5*(RF + f_LO_high)

    // IIP2 requirement
    var noise_limit = Sensitivity - CI
    var Pmax_half_IF_int = Sensitivity + HIF_Rejection
    var IIP2 = 2*HIF_Rejection + Sensitivity + CI

    document.getElementById("f_LO_low").innerHTML = f_LO_low
    document.getElementById("half_IF_low_injection").innerHTML = half_IF_low_injection
    document.getElementById("IIP2_L").innerHTML = IIP2
    document.getElementById("IIP2_H").innerHTML = IIP2

    document.getElementById("f_LO_high").innerHTML = f_LO_high
    document.getElementById("half_IF_high_injection").innerHTML = half_IF_high_injection
    // Prepare plot
    var N = 100;
    
    var freq = linspace_int(0.8*half_IF_low_injection, 1.2*RF, N)

    const NL = new Array(freq.length).fill(noise_limit)
    const S = new Array(freq.length).fill(Sensitivity)
    const RF_level = Sensitivity + CI


    var NL_series = [];
    var S_Series = [];

      for(var i=0; i<N; i++) {
        NL_series[i] = new Array(2);
        NL_series[i][0] = freq[i];
        NL_series[i][1] = NL[i];

        S_Series[i] = new Array(2);
        S_Series[i][0] = freq[i];
        S_Series[i][1] = S[i];
      }
      
    title='Half-IF Spurious Diagram (RF = ' + String(RF) + ' MHz,  IF = ' + String(IF) + ' MHz)' 
    plotChart(freq, NL_series, S_Series, half_IF_low_injection, Pmax_half_IF_int, RF, RF_level, title)
    
  }

  function linspace_int(startValue, stopValue, cardinality) {
  var arr = [];
  var step = (stopValue - startValue) / (cardinality - 1);
  for (var i = 0; i < cardinality; i++) {
    arr.push(Math.round(startValue + (step * i)));
  }
  return arr;
}





function plotChart(x, NL_series, S_Series, f_HIF, P_max_HF, f_RF, RF_level, title) {
          $('#container').highcharts({
                plotOptions: {
                              series: {
                                      animation: false
                                      }
                              },
                title: {
                          text: title
                        },
                xAxis: {
                        gridLineWidth: 1,
                        title: {text: 'freq (MHz)'}},
                yAxis: [
                                {
                                min: NL_series[0][1]-10,
                                max: P_max_HF+20,
                                title: {
                                        text: 'Power (dBm)'
                                      },
                                gridLineWidth: 1, 
                                tickInterval: 10,
                                tickPositioner: function(){
                                                            var ticks = this.tickPositions;
                                                            ticks.sort(function(a, b) {
                                                            return a - b;
                                                            });
                                                          return ticks;
                                                          }
                                }
                        ],
                series: [                             
                              {
                                name: 'Noise Limit (dBm)',
                                data: NL_series,
                                color: 'red',
                                yAxis: 0
                              },
                              {
                                name: 'Sensitivity (dBm)',
                                data: S_Series,
                                color: 'blue',
                                yAxis: 0
                              },
                              {
                                  name: 'Maximum Half-IF interferer (dBm)',
                                  data: [
                                    [f_HIF, NL_series[0][1]-20],
                                    [f_HIF,P_max_HF]
                                  ],
                                  color: 'black',
                                  yAxis: 0
                              },
                              {
                                  name: 'Incoming RF signal (dBm)',
                                  data: [
                                    [f_RF, NL_series[0][1]-20],
                                    [f_RF, RF_level]
                                  ],
                                  color: 'black',
                                  yAxis: 0
                              },  
                          ],
                          annotations: [{
                                          draggable: '',
                                          labels: [{
                                                      point: {
                                                          x: f_RF,
                                                          y: RF_level,
                                                          xAxis: 0,
                                                          yAxis: 0
                                                      },
                                                      text: 'Incoming RF Signal: ' + RF_level.toString() + ' dBm'
                                                    },
                                                    {
                                                      point: {
                                                          x: f_HIF,
                                                          y: P_max_HF,
                                                          xAxis: 0,
                                                          yAxis: 0
                                                      },
                                                      text: 'Half-IF interferer: ' + P_max_HF.toString() + ' dBm'
                                                    },

                                                  ],
                                          labelOptions: {
                                              backgroundColor: 'rgba(240,240,240,0.5)',
                                              x: 0, y: -20
                                          }
                                      },
                                      {
                                        labels: [
                                                    {
                                                      point: {
                                                          x: 0.8*f_RF,
                                                          y: S_Series[0][1],
                                                          xAxis: 0,
                                                          yAxis: 0
                                                      },
                                                      text: 'Sensitivity: ' + S_Series[0][1].toString() + ' dBm'
                                                    },
                                                    {
                                                      point: {
                                                          x: 0.8*f_RF,
                                                          y: NL_series[0][1],
                                                          xAxis: 0,
                                                          yAxis: 0
                                                      },
                                                      text: 'Noise Floor: ' + NL_series[0][1].toString() + ' dBm'
                                                    },
                                        ],
                                        labelOptions: {
                                              backgroundColor: 'rgba(240,240,240,0.5)',
                                              shape: 'connector',
                                              x: 0, y: 20
                                          }
                                      }
                                    
                                    
                                    
                                    ]
        });
    };

</script>


{% endblock %}

