{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">
    <h2 class="tool-list">Frequency Planning Tools</h2>
    
    <div class="row">
      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff">
         <!-- IMAGE FREQUENCY PLANNING -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href="{% url 'image_frequency_planning' %}"><h5 class="tool_title">Image Frequency Planning</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Plot the image frequency and the IF for a range of LO frequencies</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="{% url 'image_frequency_planning' %}" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="{% url 'image_frequency_planning_docs' %}" class="btn btn-info" role="button">See docs</a></div>
        </div>

      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff">
        <!-- IMAGE FREQUENCY PLANNING -->
       <!-- TOOL TITLE -->
       <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
         <a href="{% url 'image_frequency_calculator' %}"><h5 class="tool_title">Image Frequency Calculator</h5></a>
       </div>
       
       <!-- TOOL DESCRIPTION -->
       <div class="d-flex flex-row justify-content-center">
         <p>Calculate the image frequency from the IF and LO frequencies</p>
       </div>
         
       <!-- BUTTONS -->
       <div class="d-flex flex-row justify-content-center">
         <div class="p-2"><a href="{% url 'image_frequency_calculator' %}" class="btn btn-dark" role="button">Go!</a></div>
         <div class="p-2"><a href="{% url 'image_frequency_planning_docs' %}" class="btn btn-info" role="button">See docs</a></div>
       </div>

     </div>

      <div class="col-xs-3 col-md-3 box" style="background-color:#ffffff;">
        <!-- SECONDARY IMAGE PROBLEM -->
        
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center">
          <a href="{% url 'Secondary_image_tool' %}"><h5 class="tool_title" style="margin-top: 10px">Secondary Image Calculator</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center"">
          <p>Calculate the secondary image frequencies in a two-step heterodyne conversion</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="{% url 'Secondary_image_tool' %}" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="{% url 'reflection_coeff_docs' %}" class="btn btn-info" role="button">See docs</a></div>
        </div>
      </div>

      <div class="col-xs-3 col-md-3 box" style="background-color:#ffffff">
        <!-- HALF IF SPURIOUS -->
        
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center">
          <a href="{% url 'half_IF_tool' %}"><h5 class="tool_title" style="margin-top: 10px">Half-IF Spurious Calculator</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center"">
          <p>Calculate the half-IF spurious frequencies in a mixer and the IIP2 of the receiver</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="{% url 'half_IF_tool' %}" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="{% url 'reflection_coeff_docs' %}" class="btn btn-info" role="button">See docs</a></div>
        </div>
      </div>

    </div>
</div>
{% endblock %}