{% extends "base_generic.html" %}

{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Equivalent Resistance of Two Parallel Resistors</h2>
        </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          {{ form_Rparallel.as_p }} 

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'rparallel_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>

        <!-- Present the result -->
        {% if Req != None %}
        <div class="card">
          <div class="card-body">
            {% if Req >= 0 %}
            <p> R<sub>eq</sub> = {{Req}} &#937; </p>
            {% else %}
                {% if Req == -1 %}
                  <p style="color:#ff0000;"> Enter a valid value for R<sub>1</sub> </p>
                {% else %}
                  <p style="color:#ff0000;"> Enter a valid value for R<sub>2</sub> </p>
                {% endif %}
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}