{% extends "base_generic.html" %}
{% load static %}
{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Equivalent Capacitance of Two Series Capacitors</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
      <div class="mx-auto" style="background-color:rgb(151, 176, 255);">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!--C1 -->
                <td>
                  {{form_Cseries.C1.label}}
                </td>
                <td>{{form_Cseries.C1}}</td>
              </tr>
              <tr> <!--R2 -->
                <td>
                  {{form_Cseries.C2.label}}
                </td>
                <td>{{form_Cseries.C2}}</td>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'cseries_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
      </div>
    </div>

    <div class= "col-sm-4 my-auto">
      <div class="mx-auto" align="center">
        <input type="image" src="{% static 'images/general/arrow.png' %}" value = "Calculate" style="width:50%">
      </div>
    </div>
  </form>

    <div class="col-sm-4">
      <div class="mx-auto">
            <!-- Present the result -->
              <div class="card-body">
                {% if Ceq != None %}
                  {% if Ceq != "-1" and Ceq != "-2" %}
                    <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th colspan="2"><h5 align="center">Result</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td>C<sub>eq</sub></td>
                            <td>{{Ceq}}</td>
                          </tr>
                        </tbody>
                    </table>
                  {% else %}
                     {% if Ceq == "-1" %}
                       <p style="color:#ff0000;"> Enter a valid value for C<sub>1</sub> </p>
                     {% else %}
                       <p style="color:#ff0000;"> Enter a valid value for C<sub>2</sub> </p>
                     {% endif %}
                  {% endif %}
                {% else %}
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th colspan="2"><h5 align="center">Result</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>C<sub>eq</sub></td>
                          <td>0.91 pF</td>
                        </tr>
                      </tbody>
                    </table>
                {% endif %}
              </div>
            </div>
      </div>
  </div>

{% endblock %}