{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div class="card shadow-sm">

   <div class="row">
        <div class="col-6 align-self-right">
            <h1 style = "margin: 0.5cm 0.3cm 0.5cm; vertical-align: middle;">Stubbed Quarter-Wave Coupled Line BPF</h1>
        </div>
    </div>

    <div class= "d-flex flex-row" style = "margin: 0cm 0.5cm 0.2cm;">
        <p>A microstrip quarter-wave bandpass filter is designed on a 20 mil thickness RO4003C substrate in order to meet the following design goals:</p>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td><b>Parameter</b></td>
                    <td><b>Value</b></td>
                    <td><b>Band</b></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Insertion loss
                    </td>
                    <td>                 
                        &#60; 1 dB
                    </td>
                    <td>
                        [4.8, 5.2] GHz
                    </td>
                </tr>
                <tr>
                    <td>
                        Stopband rejection
                    </td>
                    <td>                 
                        &#62; 25 dB
                    </td>
                    <td>
                        &#60; 4 GHz <br>
                        &#62; 6 GHz
                    </td>
                </tr>
                <tr>
                    <td>
                        Return loss
                    </td>
                    <td>                 
                        &#60; -15 dB
                    </td>
                    <td>
                        [4.8, 5.2] GHz
                    </td>
                </tr>
                </tbody>
            </table>    
          </div>
        </div>
    </div>

    <div class= "d-flex flex-row" style = "margin: 0.2cm 0.2cm 0.2cm;">
        <p>In this design, stubs are added so as to have a lower coupling in the input and output coupled lines. This leads to a significantly wider gap in these lines with respect
            to the classical QW coupled lines filter. The design goals are essentially the same as in the <a href="{% url 'CoupledLineBPF_o3_5GHz'%}"> classical quarter-wavelength coupled line example.</a>
        </p>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/QucsSimulation_Microstrip.png' %}" style="width:60%" alt="SteppedLPF_Layout">
            <figcaption class="figure-caption">Qucs-S simulation with microstrip transmission line models</figcaption>
        </div>
    </div>

    <div class= "d-flex flex-row" style = "margin: 0.2cm 0.2cm 0.2cm">
        <p>Once this was done, the circuit was laid-out and simulated in <a href="https://www.sonnetsoftware.com/products/lite/">Sonnet Lite</a>. 
            Care must be taken in the box size definition to avoid unintended resonant modes caused by the bounding conditions. Also, some adjustments were made to fit the Sonnet results to the filter prototype response.
        </p>
    </div>

    <div class="row">
        <div class="col-6 align-self-right">
            <h5 style = "margin: 0.5cm 0.3cm 0.5cm; vertical-align: middle;">Layout</h5>
        </div>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/Layout.png' %}" style="width:60%" alt="SteppedLPF_Layout">
        </div>
      </div>

      <div class="row">
        <div class="col-6 align-self-right">
            <h5 style = "margin: 0.5cm 0.3cm 0.5cm; vertical-align: middle;">Insertion Loss</h5>
        </div>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/IL and RL (broadband).png' %}" style="width:60%" alt="SteppedLPF_IL_and_RL">
        </div>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/IL and RL (detail).png' %}" style="width:60%" alt="SteppedLPF_IL_and_RL">
        </div>
    </div>

        <div class="row">
            <div class="col-6 align-self-right">
                <h5 style = "margin: 0.5cm 0.3cm 0.5cm; vertical-align: middle;">Group Delay</h5>
            </div>
        </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/Group Delay.png' %}" style="width:60%" alt="SteppedLPF_IL_and_RL">
        </div>
    </div>

    <div class= "d-flex flex-row" style = "margin: 0.2cm 0.2cm 0.2cm;">
        <p>Finally, the results obtained from Sonnet are compared to those obtained with the Qucs-S simulation with MS transmission line models. As expected, the passband insertion loss is higher than that predicted in the electrical-level simulation. </p>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/Comparison between Sonnet and Qucs S.png' %}" style="width:60%" alt="SteppedLPF_IL_and_RL">
        </div>
    </div>

    <div class= "d-flex flex-row" style = "margin: 0.2cm 0.2cm 0.2cm;">
        <p>Also, the results of the EM simulation of the classical and the stubbed QW coupled line filters are compared. As shown below, the stubbed version has higher insertion loss than
            its classical counterpart, but it also has higher out-of-the-band rejection due to the presence of the open stubs.
        </p>
    </div>

    <div class= "col-md-auto">
        <div class="thumbnail" align="center">
            <img class="img-responsive" src="{% static 'images/Designs/Filters/BPF/QW_Coupled_Line_w_stubs_BPF_o3_5GHz/Comparison between classical and stubbed QW BPF.png' %}" style="width:60%" alt="SteppedLPF_IL_and_RL">
        </div>
    </div>

    <div class="row">
        <div class="col-6 align-self-right">
            <h3 style = "margin: 0.2cm 0.2cm 0.2cm; vertical-align: middle;">Downloads</h3>
        </div>
    </div>
        
    <div class="list-group">
        <a href="https://drive.google.com/file/d/1iOJsn32BJlQ8aabNe0RqV6BBH-DNfX70/view?usp=drive_link" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Sonnet Workspace</h5>
            </div>
            <p class="mb-1">Download</p>
        </a>
        
        <a href="https://drive.google.com/file/d/14walqJrGc0qCYn8-_frhov0oqUcAl0ok/view?usp=drive_link" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Qucs-S Workspace</h5>
            </div>
            <p class="mb-1">Download</p>
        </a>
    
        <a href="https://drive.google.com/file/d/1Y-AVNedmzeQhCjOusnWB4m3wVnCLSM5v/view?usp=drive_link" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Schematic</h5>
            </div>
            <p class="mb-1">Download</p>
        </a>

        <a href="https://drive.google.com/file/d/1lUNboXg8NqMkqjVdKlzqQ6eUWBbKQZ2B/view?usp=drive_link" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">S-parameters</h5>
            </div>
            <p class="mb-1">Download</p>
        </a>

    </div>
  </div>
</main>
{% endblock %}


