{% extends "base_generic.html" %}
<head>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-auto">
        <h2 class="tool-name">S-parameter Viewer</h2>
      </div>
    </div>
    
    <div class="custom-file overflow-hidden rounded-pill mb-5">
      <input id="add_S2P" type="file" class="custom-file-input rounded-pill" accept=".s2p" multiple="multiple" onchange="addNewFile(this)">
      <label for="customFile" class="custom-file-label rounded-pill">Upload S-parameter file (only S2P)</label>
    </div>

    <div class="row">
        <div class="col-2" id="sidebar">
          <div class="card bg-light box">
          <table id="DataFiles_Table" class="rf_table_style table-bordered">
            
            <thead style="text-align: center; vertical-align: middle;">
            <tr>
              <td colspan="2"> <h4> Data files</h4> </td>
            </tr>
            <tr>
              <td><b>Name</b></td>
              <td><b>Delete</b></td>
            </tr>
            </thead>
            <tbody>
              <tr></tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="col-md-auto box">
          <div class="row">  
            <div class="col-md-auto bg-light" style="float:none;margin:auto;">
              <table class="rf_table_style">
                <thead>
                  <tr>
                    <td>
                      <h4 align="center"> <b> Display </b> </h5>
                    </td>
                    <td>
                      <h4 align="center"> <b> Parameters </b></h5>
                    </td>
                  </tr>
                </thead>
                <tr class="DisplayRow">
                  <td>
                    <div class="col-xs-4 col-md-8" >
                    <div class="col-md-auto box">
                      <div class="row">
                          
                              <div class="card shadow-sm">
                                <script src="https://code.highcharts.com/highcharts.js"></script>
                                <div  id="container0" style="width: 1000px; height: 600px"></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </td>
                  <td>
                    <div class="col-md-auto box">
                      <div class="col-md-auto box">
                        <div class="col-md-auto box" align="center">
                        <p>Title</p>
                        <input id="title[0]" type="text" value="" size="20" onchange="update()">
                        </div>

                        <div class="col-md-auto box" align="center">
                          <input type="radio" id="container[0].fmode1[0]" name="fmode" value="fmode1" checked="checked" onchange="switch_sweep_mode(this)">
                          <span>fstart | fstop</span>

                          <input type="radio" id="container[0].fmode2[0]" name="fmode" value="fmode2" onchange="switch_sweep_mode(this)">
                          <span>fc | span</span>
                        </div>

                      </div>

                      <h5 align="center"> x-axis settings</h5>
                      <table class="rf_table_style" align="center">
                        <thead>
                          <tr>
                            <td>Parameter</td>
                            <td>Value</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="sweep_mode1">
                            <td>
                              Start Freq
                            </td>
                            <td>
                              <input type="number" id="f_start[0]" min="0" value = "50" style="width: 4em" onchange="update()"/>
                              <select id="f_start_scale[0]" onchange="update()">
                                <option value="1">Hz</option>
                                <option value="2">kHz</option>
                                <option selected="selected" value="3">MHz</option>
                                <option value="4">GHz</option>
                              </select>
                            </td>
                          </tr>
                          <tr class="sweep_mode1">
                            <td>
                              End Freq
                            </td>
                            <td>
                              <input type="number" id="f_stop[0]" min="0" value = "1000" style="width: 4em" onchange="update()"/>
                              <select id="f_stop_scale[0]" onchange="update()">
                                <option value="1">Hz</option>
                                <option value="2">kHz</option>
                                <option selected="selected" value="3">MHz</option>
                                <option value="4">GHz</option>
                              </select>
                            </td>
                          </tr>
                          <tr class="sweep_mode2">
                            <td>
                              f<sub>0</sub>
                            </td>
                            <td>
                              <input type="number" id="f0_span[0]" min="0" value = "500" style="width: 4em" onchange="update()"/>
                              <select id="f0_sweep_scale[0]" onchange="update()">
                                <option value="1">Hz</option>
                                <option value="2">kHz</option>
                                <option selected="selected" value="3">MHz</option>
                                <option value="4">GHz</option>
                              </select>
                            </td>
                          </tr>
                          <tr class="sweep_mode2">
                            <td>
                              Span
                            </td>
                            <td>
                              <input type="number" id="fspan[0]" min="0" value = "1000" style="width: 4em" onchange="update()"/>
                              <select id="span_scale[0]" onchange="update()">
                                <option value="1">Hz</option>
                                <option value="2">kHz</option>
                                <option selected="selected" value="3">MHz</option>
                                <option value="4">GHz</option>
                              </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
        
                    <div class="col-md-auto box">
                      <h5 align="center"> y-axis settings</h5>
                      <table class="rf_table_style" align="center">
                        <thead id = 'Sim_Head'>
                          <tr>
                            <td>Parameter</td>
                            <td>Value</td>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>
                                Scale (dB/div)
                              </td>
                              <td>
                                <input type="number" id="y_axis_scale[0]" min="1" value = "5" style="width: 4em" onchange="update()"/>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Maximum (dB)
                              </td>
                              <td>
                                <input type="number" id="y_axis_max[0]"  value = "0" style="width: 4em" onchange="update()"/>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Minimum (dB)
                              </td>
                              <td>
                                <input type="number" id="y_axis_min[0]" value = "-30" style="width: 4em" onchange="update()"/>
                              </td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                   
                    <div class="col-md-auto box" align="center">
                      <table id="TraceSelector" class="rf_table_style" >
                        <thead>
                          <td>
                            <b>Dataset</b>
                          </td>
                          <td>
                            <b>Traces</b>
                          </td>
                          <td>
                            <b>Measure</b>
                          </td>
                          <td>
                            <b>Action</b>
                          </td>
                        </thead>
                        <tr>
                          <td>
                            <select id="datasets" size="0">
                            </select>
                          </td>
                          <td>
                            <select id="traces" size="4">
                              <option value="0">S<sub>11</sub></option>
                              <option value="1" selected="selected">S<sub>21</sub></option>
                              <option value="2">S<sub>12</sub></option>
                              <option value="3">S<sub>22</sub></option>
                            </select>
                          </td>
                          <td>
                            <select id="measure" size="0">
                              <option value="0">dB</option>
                              <option value="1">Phase</option>
                              <option value="2">Group Delay</option>
                              <option value="3">n.u.</option>
                            </select>
                          </td>
                          <td>
                            <input type="button" value="+" id="add_trace" class="btn btn-success" onclick="add_trace()"/>
                          </td>
                        </tr>
                      </table>
                    </div>

                    <div class="col-md-auto box">
                      <table id="DisplayTraces" class="rf_table_style">
                        <thead>
                          <td>
                            <b>Name</b>
                          </td>
                          <td>
                            <b>
                              Color
                            </b>
                          </td>
                          <td>
                            <b>
                              Line Style
                            </b>
                          </td>
                          <td>
                            <b>
                              Axis
                            </b>
                          </td>
                          <td>
                            <b>
                              Delete Trace
                            </b>
                          </td>
                        </thead>
                        <tr>
                        </tr>
                      </table>
                    </div>
  
  
                  </td>
                </tr>
              </table>
            </div>
  
        </div>
        </div>
    </div>
</div>


  
<script>

  var full_data = [] // All the data contained in the loaded S2P files is contained here
  var displayed_data = [] // All the data selected for displaying is here including the color and line style properties
  function addData(data, filename)
  {
    full_data[filename] = data
    
    var table_Display = document.querySelectorAll('.DisplayRow'); // Get a list of all rows for display
    let last_data_index = Object.keys(full_data).length
    
    // Update the column of datasets
    let datasets = document.getElementById("datasets")
    var opt = document.createElement('option');

    opt.text = filename
    datasets.add(opt)

    update()
  }

  // As the trace is selected in the datasets table, this function adds a new row in the traces table.
  function add_trace()
  {
    // Read trace properties
    
    // Select dataset
    let dataset_options = document.getElementById("datasets").options
    let selected_index = document.getElementById("datasets").selectedIndex 
    let dataset_name = dataset_options[selected_index].value
    // Remove the extension if needed
    dataset_name = dataset_name.replace(".s2p", "")

    // Select trace
    let trace_options = document.getElementById("traces").options
    let trace_index = document.getElementById("traces").selectedIndex
    let trace_name = trace_options[trace_index].innerHTML

    // Select measure
    let measure_options = document.getElementById("measure").options
    let measure_index = document.getElementById("measure").selectedIndex
    let measure_name = measure_options[measure_index].innerHTML

    append_trace(dataset_name, trace_name, measure_name)
    // Call display function to read this table and create a plot accordingly
    update()
  }

  function append_trace(dataset_name, trace_name, measure_name)
  {
    // Add new row to the table
    var table = document.getElementById("DisplayTraces")
    var row = document.createElement("tr");

    // Create ID
    let id = displayed_data.length + 1
    
    // Name
    var cell_name = document.createElement("td");
    cell_name.innerHTML = dataset_name + "." + trace_name + "." + measure_name
    
    // Color
    var cell_color = document.createElement("td");
    
    // Set the trace color
    let color = "#FF0000" // Default
    if (displayed_data.length > 0)
    {
      if (displayed_data.length == 1) color = "#0000FF"
      else{
            if (displayed_data.length == 2) color = "#0c4213"
            else {color = '#' + Math.floor(Math.random()*16777215).toString(16);} // Random color
          }
    }
    cell_color.innerHTML = "<input type=\"color\" id=\"color_trace_"+ id.toString() +"\" onchange=\"update()\" value=\"" + color + "\">"

    // Line Style
    var cell_line_style = document.createElement("td");
    cell_line_style.innerHTML =  "<select id=\"LineStyle_trace_" + id.toString() + "\" onchange=\"update()\" > <option value=\"Solid\">Solid</option> <option value=\"Dot\">Dot</option> <option value=\"ShortDot\">Short Dot</option> <option value=\"Dash\">Dash</option> <option value=\"ShortDash\">Short Dash</option> <option value=\"LongDash\">Long Dash</option> <option value=\"ShortDashDot\">Short Dash Dot</option> <option value=\"ShortDashDotDot\">Short Dash Dot Dot</option> </select>"
  
    // Axis
    var cell_axis = document.createElement("td");
    cell_axis.innerHTML = "<select id=\"Axis_trace_" + id.toString() + "\" onchange=\"update()\" > <option value=\"LeftY\">Left Y</option> <option value=\"RightY\">Right Y</option> </select>"
  
    // Delete trace
    var cell_delete = document.createElement("td");
    cell_delete.innerHTML =  "<input type=\"button\" id=\"delete_trace_" + id.toString() + "\" value=\"-\" class=\"btn btn-danger\" onclick=\"DeleteTrace(this)\"/>"

    row.appendChild(cell_name);
    row.appendChild(cell_color);
    row.appendChild(cell_line_style);
    row.appendChild(cell_axis);
    row.appendChild(cell_delete);
    table.appendChild(row);

    // Add this settings to the structure to control the displayed traces
    let trace_properties = new Object();
    trace_properties.cell_name = cell_name.innerHTML
    trace_properties.cell_line_style = cell_line_style.innerHTML
    trace_properties.cell_axis = cell_axis.innerHTML
    trace_properties.id = id.toString()

    displayed_data.push(trace_properties)


  }
  
  // This function is called when the user selects a trace to remove
  function DeleteTrace(trace)
  {
    let index = parseInt(trace.id.substring(trace.id.lastIndexOf("_")+1))

    // Delete entry from the managing table
    displayed_data.splice(index-1,1)


    // Update the display
    var table = document.getElementById("DisplayTraces")

    // Find the row with the index to be removed
    for (let i = 2; i < table.rows.length; i++)
    {
      let i1 = table.rows[i].innerHTML.indexOf("color_trace_")
      let i2 = table.rows[i].innerHTML.indexOf("\"", i1)

      let id = parseInt(table.rows[i].innerHTML.substring(i1+12, i2))

      if (id == index)
      {
        // Remove that row
        table.deleteRow(id+1)

        // Now, we need to reassing the input IDs
        for (let i = 2; i < table.rows.length; i++)
        {
          // Update IDs in the display management table
          displayed_data[i-2].id = i-1

          // Color input
          let i1 = table.rows[i].innerHTML.indexOf("color_trace_")
          let i2 = table.rows[i].innerHTML.indexOf("\"", i1)
          let id = table.rows[i].innerHTML.substring(i1+12, i2) // Current ID

          table.rows[i].innerHTML = table.rows[i].innerHTML.replace("color_trace_" + id, "color_trace_" + (i-1).toString()) // New ID
          table.rows[i].innerHTML = table.rows[i].innerHTML.replace("LineStyle_trace_" + id, "LineStyle_trace_" + (i-1).toString()) // Line style
          table.rows[i].innerHTML = table.rows[i].innerHTML.replace("Axis_trace_" + id, "Axis_trace_" + (i-1).toString()) // Axis
          table.rows[i].innerHTML = table.rows[i].innerHTML.replace("delete_trace_" + id, "delete_trace_" + (i-1).toString()) // Axis

        }
      }
    }

    // Finally, it's needed to update the display
    update()
  }

  function update()
  {
    var table_Display = document.querySelectorAll('.DisplayRow'); // Get a list of all rows for display

    let f_start, scale_fstart, f_stop, scale_fstop;

    // For all display panels, prepare the data
    for (let i=0; i<table_Display.length; i++)
    {
      container_id = '#container'+String(i)

      // For each plot, catch the frequency settings
      f_start_id = "f_start[" + i + "]";
      scale_fstart = 'f_start_scale[' + String(i) + "]"
      f_start = document.getElementById(f_start_id).value
      scale_fstart = document.getElementById(scale_fstart).value;
      f_start = f_start*Math.pow(10, (scale_fstart-1)*3)
      
      fstop_id = "f_stop[" + i + "]"
      scale_fstop_id = 'f_stop_scale[' + String(i) + "]"
      f_stop = document.getElementById(fstop_id).value
      scale_fstop = document.getElementById(scale_fstop_id).value;
      f_stop = f_stop*Math.pow(10, (scale_fstop-1)*3)

      // Build series for feeding Highcharts
      series_ = [];

      // Chose a proper scale for the x-axis
      let scale_freq = 1
      if (document.getElementById(scale_fstop_id).value == 4)
      {
        x_axis_text = 'freq (GHz)'
        scale_freq = 1e-9;
      }
      else
      {
        if (document.getElementById(scale_fstop_id).value == 3)
        {
          x_axis_text = 'freq (MHz)'
          scale_freq = 1e-6;
        }
        else
        {
          if (document.getElementById(scale_fstop_id).value == 2)
          {
            x_axis_text = 'freq (kHz)'
            scale_freq = 1e-3;
          }
        }
      }
    
      // For each data source, prepare the data to plot
      let series_index = 0
      let min_freq_s2p = f_start
      let max_freq_s2p = f_stop


      for (let j = 0; j < displayed_data.length; j++)
      {

        // Trace name
        let trace_name = displayed_data[j].cell_name

        // The name of the trace has the following format: <File name>.<Trace>.<Operation>
        let index_point_1 = trace_name.lastIndexOf('.', trace_name.lastIndexOf('.')-1)
        let index_point_2 = trace_name.indexOf('.', index_point_1+1)

        let dataset_name = trace_name.substring(0, index_point_1); // Name of the dataset
        dataset_name = dataset_name + ".s2p"
        let parameter = trace_name.substring(index_point_1+1, index_point_2); // Parameter to display
        let operation = trace_name.substring(index_point_2+1); // Operation to perform

          // Prepare x-axis according user settings. We have to take just the spar data withing the specified range
          let data = []
          for (let k = 0; k < full_data[dataset_name].freq.length; k++)
          {
            if ((full_data[dataset_name].freq[k] >= f_start) && (full_data[dataset_name].freq[k] <= f_stop))
            {
              let y_data
              if (parameter == 'S11')
              {
                if (operation == 'dB')
                  {
                    y_data = full_data[dataset_name].S11_dB[k]
                  }
              }
              else
              {
                if (parameter == 'S21')
                {
                  if (operation == 'dB')
                  {
                    y_data = full_data[dataset_name].S21_dB[k]
                  }
                }
                else
                {
                  if (parameter == 'S22')
                  {
                    if (operation == 'dB')
                    {
                      y_data = full_data[dataset_name].S22_dB[k]
                    }
                  }
                  else
                  { // S12

                    if (operation == 'dB')
                    {
                      y_data = full_data[dataset_name].S12_dB[k]
                    }

                  }
                }
              }
              

              data.push([full_data[dataset_name].freq[k]*scale_freq, y_data])
            }
          }

          // Get the frequency limits of the data to fit the span in case that the user settings were to broadband
          if (full_data[dataset_name].freq[0] > min_freq_s2p) min_freq_s2p = full_data[dataset_name].freq[0]
          if (full_data[dataset_name].freq[full_data[dataset_name].freq.length-1] < max_freq_s2p) max_freq_s2p = full_data[dataset_name].freq[full_data[dataset_name].freq.length-1]

          // Line styling
          let linestyle= document.getElementById("LineStyle_trace_" + displayed_data[j].id.toString()).value


          series_[series_index] = {
                      name: trace_name,
                      data: data,
                      color: document.getElementById("color_trace_" + displayed_data[j].id.toString()).value,
                      yAxis: 0,
                      dashStyle: linestyle
                    }
          series_index++;
        
      }
      
    let y_axis_scale = parseFloat(document.getElementById("y_axis_scale[" + String(i) + "]").value)
    let y_axis_min = document.getElementById("y_axis_min[" + String(i) + "]").value
    let y_axis_max = document.getElementById("y_axis_max[" + String(i) + "]").value

    if (min_freq_s2p > f_start) f_start = min_freq_s2p
    if (max_freq_s2p < f_stop) f_stop = max_freq_s2p  


    $(container_id).highcharts({
                plotOptions: {
                              series: {
                                      animation: false
                                      }
                              },
                title: {
                          text: document.getElementById("title["+ String(i) + "]").value
                         },
                xAxis: {
                        type: 'linear',
                        gridLineWidth: 1,
                        tickPositions: linspace_int(f_start*scale_freq, f_stop*scale_freq, 11),
                        title: {text: x_axis_text}
                        },
                yAxis: [
                                {
                                min: y_axis_min,
                                max: y_axis_max,
                                title: {
                                        text: 'S21 (dB)'
                                      },
                                gridLineWidth: 1, 
                                tickInterval: y_axis_scale,
                                }
                        ],
                series: series_,
                            });
    }
  }

  function roundto5(number, op)
  {//Inspired by https://jsfiddle.net/NvvGf/4/
    var exp = Math.floor(Math.log(Math.abs(number))/Math.log(10)) - 1;
    exp = Math.max(exp,0);
    var n = number/Math.pow(10,exp);
    var n2
    if (op == 'ceil')
    {
      n2 = Math.ceil(n/5) * 5;
    }
    else
    {
      n2 = Math.floor(n/5) * 5;
    }
    var result = n2 * Math.pow(10,exp);

    return number
  }

  //  This function is called when the user wants to add a S2P file
  function addNewFile(btn)
  {
    var selected_files = document.getElementById(btn.id).files;
    for (let i = 0; i < selected_files.length; i++)
    {
      let file = selected_files[i]
      if (full_data[file.name] !== undefined) return 

      let extension = file.name.toLowerCase().slice(0. -3)
      if (extension != "s2p")
      {
        alert(extension + " files are not supported. Only s2p files can be read." )
        return
      }
      let A = readFile(file);

      A.then(
            function(value) {
                              let raw = value
                              data = readTouchstone(raw)
                              // Add new row
                              var table = document.getElementById("DataFiles_Table");
                              var row = document.createElement("tr");

                              // Create ID
                              let id = Object.keys(full_data).length + 1

                              // Name
                              var cell_name = document.createElement("td");
                              let name = file.name.substring(0, file.name.length-3) + "s2p"
                              cell_name.innerHTML = name  // Forced to be lower case

                              // Delete trace
                              var cell_delete = document.createElement("td");
                              cell_delete.innerHTML =  "<input type=\"button\" id=\"delete_file_" + id.toString() + "\" value=\"-\" class=\"btn btn-danger\" onclick=\"DeleteFile(this)\"/>"

                              row.appendChild(cell_name);
                              row.appendChild(cell_delete);
                              table.appendChild(row);

                              // Add it to the table for trace display
                              addData(data, name)
                            },
            function(error) { alert("Error loading the file") }
            );

      if (selected_files.length > 1){
        // Add display S21 for each file
        append_trace(file.name.substring(0, file.name.length-4), "S21", "dB")
      }
      
    }    
    if (Object.keys(full_data).length < 1)
    { 
      let name = selected_files[0].name.substring(0, selected_files[0].name.length-4)
      append_trace(name, "S21", "dB")
      append_trace(name, "S11", "dB")
      append_trace(name, "S22", "dB")
    }
    update()
  }


  // This function is called when the user wants to remove a S2P file
  function DeleteFile(btn)
  {
    let index = parseInt(btn.id.substring(btn.id.lastIndexOf("_")+1))
    var table = document.getElementById("DataFiles_Table")

    // Delete entry from the managing table

    let row_html = table.rows[index+1].innerHTML // Find the name of the file to be removed
    let i2 = row_html.indexOf("</td")
    let filename = row_html.substring(4, i2)

    delete full_data[filename]


    // Update the display
  
    // Find the row with the index to be removed
    for (let i = 2; i < table.rows.length; i++)
    {
      let i1 = table.rows[i].innerHTML.indexOf("delete_file_")
      let i2 = table.rows[i].innerHTML.indexOf("\"", i1)

      let id = parseInt(table.rows[i].innerHTML.substring(i1+12, i2))

      if (id == index)
      {
        // Remove that row
        table.deleteRow(id+1)

        // Now, we need to reassing the input IDs
        for (let i = 2; i < table.rows.length; i++)
        {

          // Color input
          let i1 = table.rows[i].innerHTML.indexOf("delete_file_")
          let i2 = table.rows[i].innerHTML.indexOf("\"", i1)
          let id = table.rows[i].innerHTML.substring(i1+12, i2) // Current ID

          table.rows[i].innerHTML = table.rows[i].innerHTML.replace("delete_file_" + id, "delete_file_" + (i-1).toString()) // Delete file button

        }
      }
    }

    // Finally, update the available datasets in the trace selector
    // Update the column of datasets
    let datasets = document.getElementById("datasets")
    datasets.remove(index-1); 


    update()

  }
  // Inspired by https://scikit-rf.readthedocs.io/en/latest/_modules/skrf/io/touchstone.html
  // Touchstone file format: https://www.ibis.org/touchstone_ver2.0/touchstone_ver2_0.pdf
  function readTouchstone(raw){
    let content = raw.split('\n');

    // Parameters
    let frequency_unit
    let parameter
    let format
    let Z0

    let freq = []
    let S11a, S11b, S12a, S12b, S21a, S21b, S22a, S22b;

    let S11_dB = []
    let S11_ang = []

    let S12_dB = []
    let S12_ang = []

    let S21_dB = []
    let S21_ang = []

    let S22_dB = []
    let S22_ang = []

    let freq_scale = 1

    S2Pdata = []
    S2Pdata["freq"] = []
    S2Pdata["S11_dB"] = []
    S2Pdata["S11_ang"] = []
    S2Pdata["S12_dB"] = []
    S2Pdata["S12_ang"] = []
    S2Pdata["S21_dB"] = []
    S2Pdata["S21_ang"] = []
    S2Pdata["S22_dB"] = []
    S2Pdata["S22_ang"] = []

    for (let i = 0; i < content.length; i++)
    {
        let line = content[i]
        line = RemoveBlankSpaces(line)
        if (line[0] == "!") continue;
        if (line.length == 0) continue;
        if (line[0] == "#")
        {
          // Parameters
          let info = line.split(' ');
          frequency_unit = info[1].toLowerCase();
          parameter = info[2]
          format = info[3].toLowerCase()
          Z0 = parseFloat(info[5])

          if (frequency_unit == "mhz")
          {
            freq_scale = 1e6
          }
          else
          {
            if (frequency_unit == "ghz")
            {
              freq_scale = 1e9
            }
            else
            {
              if (frequency_unit == "khz")
              {
                freq_scale = 1e3
              }
            }
          }
        }
        else
        {
          let data = line.split(' ');
          S2Pdata["freq"].push(parseFloat(data[0])*freq_scale);
          

          if (format == 'db')
          {
            S2Pdata["S11_dB"].push(parseFloat(data[1]));
            S2Pdata["S11_ang"].push(parseFloat(data[2]));

            S2Pdata["S21_dB"].push(parseFloat(data[3]));
            S2Pdata["S21_ang"].push(parseFloat(data[4]));

            S2Pdata["S12_dB"].push(parseFloat(data[5]));
            S2Pdata["S12_ang"].push(parseFloat(data[6]));

            S2Pdata["S22_dB"].push(parseFloat(data[7]));
            S2Pdata["S22_ang"].push(parseFloat(data[8]));
          }
          else
          {
            S11a = parseFloat(data[1]);
            S11b = parseFloat(data[2]);

            S21a = parseFloat(data[3]);
            S21b = parseFloat(data[4]);

            S12a = parseFloat(data[5]);
            S12b = parseFloat(data[6]);

            S22a = parseFloat(data[7]);
            S22b = parseFloat(data[8]);

            if (format == 'ma')
            {
              S2Pdata["S11_dB"].push(20*Math.log10(S11a));
              S2Pdata["S11_ang"].push(S11b);
              S2Pdata["S21_dB"].push(20*Math.log10(S12a));
              S2Pdata["S21_ang"].push(S12b);
              S2Pdata["S12_dB"].push(20*Math.log10(S21a));
              S2Pdata["S12_ang"].push(S21b);
              S2Pdata["S22_dB"].push(20*Math.log10(S22a));
              S2Pdata["S22_ang"].push(S22b);
            }
            else
            {// RI
              S2Pdata["S11_dB"].push(10*Math.log10(Math.sqrt(S11a*S11a + S11b*S11b)));
              S2Pdata["S11_ang"].push(10*Math.log10(Math.atan(S11b/S11a)));
              S2Pdata["S21_dB"].push(10*Math.log10(Math.sqrt(S12a*S12a + S12b*S12b)));
              S2Pdata["S21_ang"].push(10*Math.log10(Math.atan(S12b/S12a)));
              S2Pdata["S12_dB"].push(10*Math.log10(Math.sqrt(S21a*S21a + S21b*S21b)));
              S2Pdata["S12_ang"].push(10*Math.log10(Math.atan(S21b/S21a)));
              S2Pdata["S22_dB"].push(10*Math.log10(Math.sqrt(S22a*S22a + S22b*S22b)));
              S2Pdata["S22_ang"].push(10*Math.log10(Math.atan(S22b/S22a)));
            }
          }
        }
       
    } 

    return S2Pdata
  }

  function RemoveBlankSpaces(line)
  {
    line = line.replace(/\s{2,}/g, ' ');
    line = line.replace(/\t/g, ' ');
    line = line.toString().trim().replace(/(\r\n|\n|\r)/g,"");
    return line
  }
  function readFile(file){
  return new Promise((resolve, reject) => {
    var fr = new FileReader();  
    fr.onload = () => {
      resolve(fr.result )
    };
    fr.onerror = reject;
    fr.readAsText(file);
  });
}


function linspace_int(startValue, stopValue, cardinality) {
  var arr = [];
  var step = (stopValue - startValue) / (cardinality - 1);
  for (var i = 0; i < cardinality; i++) {
    arr.push(Math.round(startValue + (step * i)));
  }
  return arr;
}

// Table of plots
var ob_DisplayTable = new DisplayTable('Display_Table')
ob_DisplayTable.update()

function DisplayTable(id){
  var table = document.getElementById(id);
  var me = this;

  if(document.getElementById(id)){
    var row1 = table.rows[1].outerHTML;
  }
}

</script>
{% endblock %}

