{% extends "base_generic.html" %}
{% load static %}
{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">&#915; to impedance and S<sub>11</sub></h2>
        </div>
    </div>

    <div class="row">
      <div class="col-md-auto">
      <div class="mx-auto" style="background-color:rgb(151, 176, 255);">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!--gamma magnitude -->
                <td>
                  {{form_RtoZ.gamma_mag.label}}
                </td>
                <td>{{form_RtoZ.gamma_mag}}</td>
              </tr>
              <tr> <!--gamma angle -->
                <td>
                  {{form_RtoZ.gamma_ang.label}}
                </td>
                <td>{{form_RtoZ.gamma_ang}}</td>
              </tr>
              <tr> <!--Z0 -->
                <td>
                  {{form_RtoZ.Z0.label}}
                </td>
                <td>{{form_RtoZ.Z0}}</td>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'reflection_coeff_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  

    <div class="col-md-auto">
      <div class="mx-auto">
            <!-- Present the result -->
              <div class="card-body">
                {% if ZL != None %}
                    <table class="table table-bordered table-light table-striped">
                        <thead>
                          <tr>
                            <th colspan="2"><h5 align="center">Results</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td>Z<sub>L</sub></td>
                            <td align="center">{{ZL}} &#937;</td>
                          </tr>
                          <tr>
                            <td>SWR</td>
                            {% if SWR == 1e6 %}
                              <td align="center">&#8734;</td>
                            {%else%}
                              <td align="center">{{SWR}}</td>
                            {% endif %}
                          </tr>
                            <tr> 
                              <td>S<sub>11</sub></td>
                              {% if S11 == -1e3 %}
                                <td align="center">-&#8734; dB</td>
                              {%else%}
                                <td align="center">{{S11}} dB</td>
                              {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-bordered table-light table-striped">
                      <thead>
                        <tr>
                          <th colspan="2"><h5 align="center">Results</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>Z<sub>L</sub></td>
                          <td align="center">73.44 + j 7.92 &#937;</td>
                        </tr>
                        <tr> 
                          <td>SWR</td>
                          <td align="center"> 1.5</td>
                        </tr>
                        <tr> 
                          <td>S<sub>11</sub></td>
                          <td align="center">-13.98 dB</td>
                        </tr>
                      </tbody>
                    </table>
                {% endif %}
              </div>
            </div>
    </div>
      </div>
  </div>

{% endblock %}