{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<!-- Impedance to reflection coefficient -->
<div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Impedance to &#915; and S<sub>11</sub></h2>
        </div>
    </div>

    <div class="row">
    <div class="col-sm-4">
      <div class="mx-auto" style="background-color:rgb(151, 176, 255);">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!--Real{Z} -->
                <td>
                  {{form_ZtoR.ZR.label}}
                </td>
                <td>{{form_ZtoR.ZR}}</td>
              </tr>
              <tr> <!--Imag{Z} -->
                <td>
                  {{form_ZtoR.ZI.label}}
                </td>
                <td>{{form_ZtoR.ZI}}</td>
              </tr>
              <tr> <!--Z0 -->
                <td>
                  {{form_ZtoR.Z0.label}}
                </td>
                <td>{{form_ZtoR.Z0}}</td>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'reflection_coeff_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div> 
      </div>
    </div>

    <div class= "col-sm-4 my-auto">
      <div class="mx-auto" align="center">
        <input type="image" src="{% static 'images/general/arrow.png' %}" value = "Calculate" style="width:50%">
      </div>
    </div>
  </form>

    <div class="col-sm-4">
      <div class="mx-auto">
            <!-- Present the result -->
              <div class="card-body">
                {% if gamma_mag != None %}
                    <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th colspan="2"><h5 align="center">Results</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td>&#915; </td>
                            <td>{{ gamma_mag}} &#8736; {{gamma_ang}} &#176;</td>
                          </tr>
                          <tr>
                            <td>SWR</td>
                            {% if SWR == 1e6 %}
                              <td>&#8734;</td>
                            {%else%}
                              <td>{{SWR}}</td>
                            {% endif %}
                          </tr>
                            <tr> 
                              <td>S<sub>11</sub></td>
                              {% if S11 == -1e3 %}
                                <td>-&#8734; dB</td>
                              {%else%}
                                <td>{{S11}} dB</td>
                              {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th colspan="2"><h5 align="center">Results</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>&#915; </td>
                          <td>0.2 &#8736; 15 &#176;</td>
                        </tr>
                        <tr> 
                          <td>SWR</td>
                          <td>1.5</td>
                        </tr>
                        <tr> 
                          <td>S<sub>11</sub></td>
                          <td>-13.98 dB</td>
                        </tr>
                      </tbody>
                    </table>
                {% endif %}
              </div>
            </div>
      </div>
  </div>
</div>
{% endblock %}