{% extends "base_generic.html" %}
<!-- Add Bokeh headers -->
<head>
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css" rel="stylesheet" type="text/css">
  <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css" rel="stylesheet" type="text/css">
</head>
{% load static %}

{% block content %}

<style>
  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  </style>

  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">IP<sub>n</sub>, noise floor and dynamic range diagram</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-md-4" style="background-color:rgb(151, 176, 255); border: 30px solid white">
        <!-- Instantiate the form -->
        <form method="POST">
          {% csrf_token %}          
          <table class="table table-hover">
            <h5 align="center"> IP<sub>n</sub> calculation</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!-- GAIN -->
                <td>
                  <div class="popup" onclick="help_gain()">
                    {{form_ipn_diag.G.label}}
                    <span class="popuptext" id="Pop-up-Gain">Linear gain</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.G}}</td>
   
              </tr>
              <tr> <!-- Pout -->
                <td>
                  <div class="popup" onclick="help_Pout()">
                    P<sub>out</sub> (dBm)
                    <span class="popuptext" id="Pop-up-Pout">Power of the carrier at the two-tone test</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.Pout}}</td>
              </tr>
              <tr> <!-- DELTA IMD -->
                <td>
                  <div class="popup" onclick="help_delta()">
                    {{form_ipn_diag.Delta.label}}
                    <span class="popuptext" id="Pop-up-delta">Range between the intermodulation products and the carrier</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.Delta}}</td>
              </tr>
              <tr> <!-- Order IMD -->
                <td>
                  <div class="popup" onclick="help_IMn()">
                    {{form_ipn_diag.n.label}}
                    <span class="popuptext" id="Pop-up-IMn">Order of the intermodulation products</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.n}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover">
            <h5 align="center"> Dynamic range and noise floor</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!-- Minimim S/I -->
                <td>
                  <div class="popup" onclick="help_SImin()">
                    {{form_ipn_diag.SImin.label}}
                    <span class="popuptext" id="Pop-up-SImin">Minimum S/I required</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.SImin}}</td>
              </tr>
              <tr> <!-- Noise Figure -->
                <td>
                  <div class="popup" onclick="help_NF()">
                    {{form_ipn_diag.NF.label}}
                    <span class="popuptext" id="Pop-up-NF">Noise Figure of the amplifier</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.NF}}</td>
              </tr>
              <tr> <!-- Bandwidth -->
                <td>
                  <div class="popup" onclick="help_BW()">
                    {{form_ipn_diag.BW.label}}
                    <span class="popuptext" id="Pop-up-BW">Bandwidth of the amplifier</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.BW}}</td>
              </tr>
              <tr> <!-- Temperature -->
                <td>
                  <div class="popup" onclick="help_T()">
                    {{form_ipn_diag.T.label}}
                    <span class="popuptext" id="Pop-up-T">Temperature of the system</span>
                  </div>
                </td>
                <td>{{form_ipn_diag.T}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover">
            <h5 align="center">Compression</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!-- P1dB -->
                <td>
                  <div class="popup" onclick="help_P1dB()">
                    P<sub>1dB</sub>
                    <span class="popuptext" id="Pop-up-P1dB">Output level at which the actual fundamental power deviates 1dB from ideal (linear) output power</span>
                  </div></td>
                <td>{{form_ipn_diag.CPo}}</td>
              </tr>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'ipn_nf_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>

      </div>

      <div class="col-xs-12 col-md-8" style="border: 10px">
          <div class="row">
              <div class="col-xs-12 col-md-12" >
                  <div class="card shadow-sm">
                      <div class="card-body" >
                        {{ div | safe }}
                        <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
                        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
                        {{ script | safe }}
                      </div>
                  </div>
              </div>
          </div>
                <!-- Present the result -->
      {%if Pin != None%}
      <div class="col-xs-12 col-md-6">
        <div class="card-body">
            
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="2"><h5 align="center">Results</h5></th>
                </tr>
              </thead>
              <tbody>
                <tr> 
                  <td>IIP<sub>{{n}}</sub></td>
                  <td>{{IIPn}} dBm</td>
                </tr>
                <tr> 
                  <td>OIP<sub>{{n}}</sub></td>
                  <td>{{OIPn}} dBm</td>
                </tr>
                <tr> 
                  <td>P<sub>out</sub> @ S/I = {{SI}} dB</td>
                  <td>{{Pout_Upper_Limit}} dBm</td>
                </tr>
                <tr> 
                  <td>Dynamic Range</td>
                  <td>{{DR}} dB</td>
                </tr>
                <tr> 
                  <td>Noise floor</td>
                  <td>{{No_dBm}} dBm</td>
                </tr>
            </tbody>
          </table>
      </div>
      {% else %}
      <div class="col-xs-9 col-md-4">
        <div class="card-body">
               <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th colspan="2"><h5 align="center">Results</h5></th>
                  </tr>
                </thead>
                <tbody>
                  <tr> 
                    <td>IIP<sub>3</sub></td>
                    <td>24 dBm</td>
                  </tr>
                  <tr> 
                    <td>OIP<sub>3</sub></td>
                    <td>40 dBm</td>
                  </tr>
                  <tr> 
                    <td>P<sub>out</sub> @ S/I = 35 dB</td>
                    <td>22.5 dBm</td>
                  </tr>
                  <tr> 
                    <td>Dynamic Range</td>
                    <td>75.6 dB</td>
                  </tr>
                  <tr> 
                    <td>Noise floor</td>
                    <td>-69.14 dBm</td>
                  </tr>
                </tbody>
              <table>
          </div>
      </div>
      {%endif%}
      </div>
               
    </div>
  </div>
<!-- Add Bokeh scripts -->
<script src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
{{ script | safe }

<script>
  // Pop-up helpers
  function help_gain() {
    // Linear gain
    var popup = document.getElementById("Pop-up-Gain");
    popup.classList.toggle("show");
  }

  function help_Pout(){
    // Fundamental output power
    var popup = document.getElementById("Pop-up-Pout");
    popup.classList.toggle("show");
  }

  function help_delta(){
    // IM delta
    var popup = document.getElementById("Pop-up-delta");
    popup.classList.toggle("show");
  }

  function help_IMn(){
    // Order of the intermodulation distortion
    var popup = document.getElementById("Pop-up-IMn");
    popup.classList.toggle("show");
  }

  function help_SImin(){
    // Minimum S/I required
    var popup = document.getElementById("Pop-up-SImin");
    popup.classList.toggle("show");
  }

  function help_NF(){
    // Noise Figure of the amplifier
    var popup = document.getElementById("Pop-up-NF");
    popup.classList.toggle("show");
  }

  function help_BW(){
    // Bandwidth of the amplifier
    var popup = document.getElementById("Pop-up-BW");
    popup.classList.toggle("show");
  }

  function help_T(){
    // System temperature
    var popup = document.getElementById("Pop-up-T");
    popup.classList.toggle("show");
  }

  function help_P1dB(){
    // P1dB
    var popup = document.getElementById("Pop-up-P1dB");
    popup.classList.toggle("show");
  }

  </script>


{% endblock %}

