{% extends "base_generic.html" %}
{% load static %}
{% block content %}

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">Bandwidth in Octaves/Decades & Q factor</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-md-auto">
        <div class="mx-auto box_form">
          <!-- Instantiate the form -->
          <form method="POST"> 
            {% csrf_token %}          
            <table class="rf_table_style table text-center table-bordered table-hover">
              <thead>
                <tr>
                  <td><b>Parameter</b></td>
                  <td><b>Value</b></td>
                </tr>
              </thead>
              <tbody>
                <tr> <!--f1 -->
                  <td>
                    <p>f<sub>1</sub> (MHz)</p>
                  </td>
                  <td>
                    <input type="number" id="f1" min="0" value="54" style="width: 5em" onchange="updateTable()">
                  </td>
                </tr>
                <tr> <!--f2 -->
                  <td>
                    <p>f<sub>2</sub> (MHz)</p>
                  </td>
                  <td>
                    <input type="number" id="f2" min="0" value="1002" style="width: 5em" onchange="updateTable()">
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- BUTTONS -->
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <a href="{% url 'bw_octaves_docs' %}" class="btn btn-info" role="button">See docs</a>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-md-auto">
        <div class="mx-auto">
                  <div class="card-body">
                    <table class="rf_table_style text-center table-bordered" id="ResultsTable">
                      <thead>
                          <tr>
                            <td colspan="2"><h4 align="center"><b>Results</b></h4></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td><b># Octaves</b></td>
                            <td>4.2</td>
                          </tr>
                          <tr> 
                            <td><b># Decades</b></td>
                            <td>4.2</td>
                          </tr>
                          <tr> 
                            <td><b>Q</b></td>
                            <td>1.1</td>
                          </tr>
                        </tbody>
                      <table>
                  </div>
        </div>
      </div>

    </div>
  </div>

<script type="text/javascript">
  updateTable()
  function updateTable(){
    // Get data
    var f1 = parseFloat(document.getElementById("f1").value)
    var f2 = parseFloat(document.getElementById("f2").value)
   
    // Calculations
    var maxf = Math.max(f1, f2)
    var minf = Math.min(f1, f2)
    var BW_DEC = Math.log10(maxf/minf)
    var BW_OCT = BW_DEC/Math.log10(2)
    var Q = (minf + maxf) / (maxf - minf)
  
    // Update table
    var ResultsTable = document.getElementById("ResultsTable");
    ResultsTable.rows[1].cells[1].textContent = BW_OCT.toFixed(2); // Bandwidth in octaves
    ResultsTable.rows[2].cells[1].textContent = BW_DEC.toFixed(2); // Quality factor
    ResultsTable.rows[3].cells[1].textContent = Q.toFixed(2); // Quality factor
  }
  
  </script>


{% endblock %}

