{% extends "base_generic.html" %}

{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Bandwidth in Octaves & Q factor</h2>
        </div>
    </div>

    <div class="row">
      <div class="mx-auto" style="background-color:rgb(151, 176, 255);">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!--f1 -->
                <td>
                  {{form_bw_oct.f1.label}}
                </td>
                <td>{{form_bw_oct.f1}}</td>
              </tr>
              <tr> <!--f2 -->
                <td>
                  {{form_bw_oct.f2.label}}
                </td>
                <td>{{form_bw_oct.f2}}</td>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'bw_octaves_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
             <!-- Present the result -->
             {%if BW_OCT != None%}
             <div class="col-xs-12 col-md-6">
               <div class="card-body">
                   
                   <table class="table table-bordered table-hover">
                     <thead>
                       <tr>
                         <th colspan="2"><h5 align="center">Result</h5></th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr> 
                         <td>BW<sub>octaves</sub></td>
                         <td>{{BW_OCT}}</td>
                       </tr>
                       <tr> 
                         <td>Q</td>
                         <td>{{Q}}</td>
                       </tr>
                   </tbody>
                 </table>
             </div>
             {% else %}
             <div class="col-xs-9 col-md-4">
               <div class="card-body">
                     <table class="table table-bordered table-striped">
                       <thead>
                         <tr>
                           <th colspan="2"><h5 align="center">Results</h5></th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr> 
                           <td>BW<sub>octaves</sub></td>
                           <td>4.2</td>
                         </tr>
                         <tr> 
                           <td>Q</td>
                           <td>1.1</td>
                         </tr>
                       </tbody>
                     <table>
                 </div>
             </div>
           {%endif%}
          </div>
    </div>
  </div>

{% endblock %}