{% extends "base_generic.html" %}
{% load static %}
{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">Equivalent of Two Parallel Resistors</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-md-auto">
      <div class="mx-auto box_form">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr> <!--R1 -->
                <td>
                  {{form_Rparallel.R1.label}}
                </td>
                <td>{{form_Rparallel.R1}}</td>
              </tr>
              <tr> <!--R2 -->
                <td>
                  {{form_Rparallel.R2.label}}
                </td>
                <td>{{form_Rparallel.R2}}</td>
              </tr>
            </tbody>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <input type = "submit" value = "Calculate">
            </div>

            <div class="p-2">
              <a href="{% url 'rparallel_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div class="col-md-auto">
      <div class="mx-auto">
            <!-- Present the result -->
              <div class="card-body">
                {% if Req != None %}
                  {% if Req >= 0 %}
                    <table class="table table-light table-bordered table-striped">
                        <thead>
                          <tr>
                            <th colspan="2"><h5 align="center">Result</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td>R<sub>eq</sub></td>
                            <td>{{Req}} &#937;</td>
                          </tr>
                        </tbody>
                    </table>
                  {% else %}
                     {% if Req == -1 %}
                       <p style="color:#ff0000;"> Enter a valid value for R<sub>1</sub> </p>
                     {% else %}
                       <p style="color:#ff0000;"> Enter a valid value for R<sub>2</sub> </p>
                     {% endif %}
                  {% endif %}
                {% else %}
                    <table class="table table-light table-bordered table-striped">
                      <thead>
                        <tr>
                          <th colspan="2"><h5 align="center">Result</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td>R<sub>eq</sub></td>
                          <td>767.4 &#937;</td>
                        </tr>
                      </tbody>
                    </table>
                {% endif %}
              </div>
            </div>
      </div>
  </div>

{% endblock %}