{% extends "base_generic.html" %}
{% load static %}
{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-auto">
        <h2 class="tool-name">Equivalent Resistance of Parallel Resistors</h2>
      </div>
  </div>

    <div class="row">
      <div class="col-md-auto">
      <div class="mx-auto box_form">
        <!-- Instantiate the form -->
        <form method="POST"> 
          {% csrf_token %}          
          <table id="table1" class="table table-hover table-bordered ">
            
            <thead style="text-align: center; vertical-align: middle;">
              <tr>
                <th></th>
                <th>Value</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>
            <tr>
              <td class="tbl_id">R<sub>1</sub></td>
                  <td class="R_input"><input type="text" id="R[1]" value = "1k" style="width: 3em" onchange="ob_adRows.update(this)"/></td>
              <td class="remove_button"><input type="button" value="-" id="remove_button1" class="btn btn-danger" onclick="ob_adRows.delRow(this)"/></td>
              <td class="add_button"><input type="button" value="+" id="add_button1" class="btn btn-success" onclick="ob_adRows.addRow(this)"/></td>
            </tr>
            <tr>
              <td class="tbl_id">R<sub>2</sub></td>
                  <td class="R_input"><input type="text" id="R[2]" value = "1k" style="width: 3em" onchange="ob_adRows.update(this)"/></td>
              <td class="remove_button"><input type="button" value="-" id="remove_button2" class="btn btn-danger" onclick="ob_adRows.delRow(this)"/></td>
              <td class="add_button"><input type="button" value="+" id="add_button2" class="btn btn-success" onclick="ob_adRows.addRow(this)"/></td>
            </tr>
          </table>

          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2">
              <a href="{% url 'rparallel_docs' %}" class="btn btn-info" role="button">See docs</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  

    <div class="col-md-auto">
      <div class="mx-auto">
            <!-- Present the result -->
              <div class="card-body">

                    <table class="table table-light table-bordered table-striped">
                        <thead>
                          <tr>
                            <th colspan="2"><h5 align="center">Result</h5></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td>R<sub>eq</sub></td>
                            <td><p id="Req"></p></td>
                          </tr>
                        </tbody>
                    </table>
              </div>
            </div>
      </div>
  </div>

  <script type="text/javascript">

    //Inspired by https://coursesweb.net/javascript/ 
    
    function adRowsTable(id){
      var table = document.getElementById(id);
      var me = this;

      if(document.getElementById(id)){
        var row1 = table.rows[1].outerHTML;
      
      function getID(string_id){
        var index1 = string_id.indexOf("id=\"")
        index1 += 4
        var index2 = string_id.indexOf("\" ", index1)
        return string_id.substr(index1, index2-index1)
      }

      function getValue(string_val){
        var index1 = string_val.indexOf("value=\"")
        index1 += 7
        var index2 = string_val.indexOf("\" ", index1)
        return string_val.substr(index1, index2-index1)
      }

          //adds index-id in cols with class .tbl_id
      function setIds(add_after){
        var tbl_id = document.querySelectorAll('#'+ id +' .tbl_id');
        for(var i=0; i<tbl_id.length; i++) 
        {
          tbl_id[i].innerHTML = "R<sub>" + String(i+1) + "</sub>";
        }
        // UPDATE R IDs
        var R_id = document.querySelectorAll('#'+ id +' .R_input');
        for(var i=0; i<tbl_id.length; i++){
          var old_id = getID(R_id[i].innerHTML)
          var tmp = R_id[i].innerHTML.replace(old_id, 'R['+ (i+1) + ']')
          R_id[i].innerHTML = tmp
        }

      }

      //add row after clicked row; receives clicked button in row
      me.addRow = function(btn){
        var tbl_id = document.querySelectorAll('#'+ id +' .tbl_id');
        
        var add_after = parseInt(btn.id.replace('add_button', ''))
        var new_row = row1.replaceAll("[1]", "["+ (add_after+1) + "]")
        new_row = new_row.replaceAll("R<sub>1</sub>", "R<sub>"+ (add_after+1) + "</sub>")
        btn.parentNode.parentNode.insertAdjacentHTML('afterend', new_row)
        setIds(add_after);
        me.update(btn)
      }

      //delete clicked row; receives clicked button in row
      me.delRow = function(btn){
        var tbl_id = document.querySelectorAll('#'+ id +' .tbl_id');
        if (tbl_id.length > 1)
        {
          btn.parentNode.parentNode.outerHTML ='';
      //   alert('Remove: ' + btn.id)
          setIds(-1);
          me.update(btn)
        }

      }

    //Update table content and recalculate the equivalent capacitance
     me.update = function(btn){
      var tbl_id = document.querySelectorAll('#'+ id +' .tbl_id');
      var R_id = document.querySelectorAll('#'+ id +' .R_input');
      var R_array = []
        // Update values
        for(var i=0; i<R_id.length; i++) {
          // R[i]
          var new_val = document.getElementById("R["+(i+1)+"]").value;
          var old_val = getValue(R_id[i].innerHTML)
          var tmp = R_id[i].innerHTML.replace("value=\"" + old_val +"\"", 'value=\"' + new_val + '\"')
          R_id[i].innerHTML = tmp
          R_array.push(parseRstring(new_val));
        }
        // Equivalent capacitance
        let Req = 0
        for (let i = 0; i < R_array.length; i++) {
          Req += 1/R_array[i]
        }
        Req = 1 / Req
        document.getElementById("Req").innerHTML = getValueWithUnits(Req, 'Ohm')
     }
    }
  }

//create object of adRowsTable(), pass the table id
var ob_adRows = new adRowsTable('table1');
ob_adRows.update()

function getValueWithUnits(val, unit){
    prefix = ''
    // Lower than 1
    if (val < 1)
    {
        if (val < 0.5e-12)
        {
            // femto
            val *= 1e15
            prefix = 'f'
        }
        else
        {
            if (val < 0.5e-9)
            {
                // pico
                val *= 1e12
                prefix = 'p'
            }
            else
            {
                if (val < 0.5e-6)
                {
                    // nano
                    val *= 1e9
                    prefix = 'n'
                }
                else
                {
                    if (val < 0.5e-3)
                    {
                        // micro
                        val *= 1e6
                        prefix = 'u'
                    }
                    else
                    {
                        if (val < 0.5)
                        {
                            // mili
                            val *= 1e3
                            prefix = 'm'
                        }
                    }
                }
            }
        }
    }
    else
    {
        if (val > 1e3)
        {
            // Higher than 1
            if (val > 1e9)
            {
                // Giga
                val *= 1e-9
                prefix = 'G'
            }
            else
            {
                if (val > 1e6)
                {
                    // Mega
                    val *= 1e-6
                    prefix = 'M'
                }
                else
                {
                    if (val > 1e3)
                    {
                        // kilo
                        val *= 1e-3
                        prefix = 'k'
                    }
                }
            }
        }
        else
        {
            // Value between 1 and 1k
            prefix = ''
        }
    }
    if (prefix == '')
        return val.toFixed(2) + ' ' + unit
    else
        return val.toFixed(2) + ' ' + prefix + unit
}


function parseRstring(R)
{     
    R = R.toLowerCase()

    index_Ohm = R.indexOf('Ohm')
    
    // Remove F unit
    if (index_Ohm != -1)
    {
        R = R.substring(0, index_Ohm) + R.substring(index_Ohm + 1)
    }

    // Remove blank spaces from the string
    if (index_Ohm != -1)
    {
        R = R.replace(" ", "")
    }
    L = R.length
    
    // Scientific
    index=R.indexOf('e')
    
    if (index != -1)
    {
        if (index == 0)
            a = 0
        else
            a = parseFloat(R.substring(0,index))

            b = R.substring(index+1,L)
            Lb = b.length
            b = parseFloat(b)
            return a*Math.pow(10, b)

    }

    // kilo Ohm
    index=R.indexOf('k')
    
    if (index != -1)
    {
        if (index == 0)
            a = 0
        else
            a = parseFloat(R.substring(0,index))
        if (L > index+1)
        {
            b = R.substring(index+1,L)
            Lb = b.length
            b = parseFloat(b)
            if (a < 0 || b < 0)
                return -1
            else
                return a*1e3+b*Math.pow(10, (3-Lb))
        }
        else
        {
            if (a < 0)
                return -1
            else
                return a*1e3
        }
    }
    // Mega Ohm
    index=R.indexOf('m')
    if (index != -1)
    {
        if (index == 0)
            a = 0
        else
            a = parseFloat(R.substring(0,index))

        if (L > index+1)
        {
            b = R.substring(index+1,L)
            Lb = b.length
            b = parseFloat(b)
            if (a < 0 || b < 0)
                return -1
            else
                return a*1e6+b*Math.pow(10, (6 - Lb))
        }
        else
        {
            if (a < 0)
                return -1
            else
                return a*1e6
        }
    }

   

    R = parseFloat(R)
    if (R < 0)
        R = -1
    
    return R
}
</script>

{% endblock %}