{% extends "base_generic.html" %}
{% load static %}
{% block content %}

<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-4">
          <h2 class="tool-name">RF Power Converter</h2>
        </div>
    </div>

    <div class="row">
      <div class="col-md-auto">
        <div class="mx-auto box_form">
          <!-- Instantiate the form -->
          <form method="POST"> 
            {% csrf_token %}          
            <table class="rf_table_style table table-bordered table-hover">
              <thead>
                <tr>
                  <td><b>Parameter</b></td>
                  <td><b>Value</b></td>
                </tr>
              </thead>
              <tbody>
                <tr> <!--Power -->
                  <td>
                    {{form.P.label}}
                  </td>
                  <td>{{form.P}}</td>
                </tr>
                <tr> <!--Old units -->
                  <td>
                    {{form.old_units.label}}
                  </td>
                  <td>{{form.old_units}}</td>
                </tr>
                <tr> <!--New units -->
                  <td>
                    {{form.new_units.label}}
                  </td>
                  <td>{{form.new_units}}</td>
                </tr>
              </tbody>
            </table>
  
            <!-- BUTTONS -->
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2">
                <input type = "submit" value = "Calculate">
              </div>

              <div class="p-2">
                <a href="{% url 'rf_power_converter_docs' %}" class="btn btn-info" role="button">See docs</a>
              </div>
            </div>
        </div>
      </div>

      <!-- <div class= "col-sm-4 my-auto">
        <div class="mx-auto" align="center">
          <input type="image" src="{% static 'images/general/arrow.png' %}" value = "Calculate" style="width:50%">
        </div>
    </div> -->
    </form>

          
        <div class="col-md-auto">
            <div class="mx-auto">
              <!-- Present the result -->
              <div class="card-body">
                {% if Pnew != None %}
                    <table class="rf_table_style table text-center table-bordered">
                        <thead>
                          <tr>
                            <td colspan="2"><h4 align="center"><b>Result</b></h4></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td align="center">{{Pnew}} {{prefix_unit}}{{new_units}}</td>
                          </tr>
                        </tbody>
                    </table>
                {% else %}
                    <table class="rf_table_style table text-center table-bordered">
                      <thead>
                        <tr>
                          <th colspan="2"><h5 align="center">Result</h5></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr> 
                          <td align="center">108.75 dB&#x00B5V (Z&#x2080 = 75 &#x03A9)</td>
                        </tr>
                      </tbody>
                    </table>
                {% endif %}
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock %}