html * /* Character settings for the whole site */
{
   font-family: Lato Light !important;
}

.box{ /* Box margins for the tool catalogs */
    box-sizing: border-box;
    border: 10px solid transparent;
    background-clip:padding-box;
  }

body {
    padding-top: 80px; /*Padding for the fixed-top navbar*/
    padding-bottom: 20px;

    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px),
        linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(-90deg, transparent 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px),
        linear-gradient(transparent 1px, transparent 1px), transparent;
    background-size:
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px,
        10px 10px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

h1.page-title {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color: #C25100;
}


h2.tool-list {
    color: #4d4845;
    font-weight: bold;
}

h5{
    color: #4d4845;
    font-weight: bold;
}


body {
	background-color: #fffcfc;
	overflow-x: hidden;
}

.sidebar-nav {
	border: 2px solid #C25100;
	color: white;
	padding: 20px;
    min-height: 500px;
    font-family: 'Lato', sans-serif;;
}

ul
{
    list-style-type: none;
}

.errorlist { color: red; }