{% extends "base_generic.html" %}
<head>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% load static %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">Filter Design</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-md-auto box_form">
        <!-- Instantiate the form -->
        <form id="FilterDesign_form" method="POST">
          {% csrf_token %}          
          <table class="table table-hover">
            <h5 align="center"> Filter Type</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    Structure
                </td>
                <td>                 
                    <select id="Structure" onchange="StructureChanged(this)">
                      <option selected="selected" value="1">Conventional LC</option>
                      <option value="2">Direct Coupled LC</option>
                    </select>
                </td>
              </tr>
              <tr class = 'DC_Type_input'>
                <td>
                  Type
              </td>
              <td>                 
                  <select id="DC_Type" onchange="DC_Type_changed(this)">
                    <option selected="selected" value="1">C-coupled shunt resonators</option>
                    <option value="2">L-coupled shunt resonators</option>
                    <option value="3">L-coupled series resonators</option>
                    <option value="4">C-coupled series resonators</option>
                    <option value="5">Magnetic coupled resonators</option>
                    <option value="6">Quarter-Wave coupled resonators</option>
                  </select>
              </td>
              </tr>

              <tr class = "FirstElement_input">
                <td>
                    First Element
                </td>
                <td>                 
                    <select id="FirstElement" onchange="submit_form(this)">
                      <option value="1"> First Shunt</option>
                      <option selected="selected" value="2">First Series</option>
                    </select>
                </td>
              </tr>

              <tr>
                <td>
                    Response Type
                </td>
                <td>
                  <select id="Response" onchange="ResponseChanged(this)">
                    <option id='EllipticResponse' value="1">Elliptic</option>
                    <option selected="selected" value="2">Chebyshev</option>
                    <option value="3">Butterworth</option>
                    <!-- <option value="4">Bessel</option>
                    <option value="5">Legendre</option>
                    <option value="6">Gegenbauer</option>
                    <option value="7">Linear Phase</option>
                    <option value="8">Gaussian</option> -->
                  </select>
                </td>
              </tr>
              <tr class = "EllipticType_input">
                <td>
                    Elliptic Type
                </td>
                <td>
                  <select id="EllipticType" onchange="submit_form(this)">
                    <option selected="selected" value="1">Type S</option>
                    <option value="2">Type A</option>
                    <option value="3">Type B</option>
                    <option value="4">Type C</option>
                  </select>
                </td>
              </tr>
              <tr class="Ripple_input">
                <td>
                  Ripple (dB)
                </td>
                <td>
                  <input type="number" id="Ripple" value = "0.05" step="0.05" min="0" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="as_input">
                <td>
                  Stopband att (dB)
                </td>
                <td>
                  <input type="number" id="a_s" value = "35" step="1" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="PhaseError_input">
                <td>
                  Phase Error (deg)
                </td>
                <td>
                  <input type="number" id="PhaseError" value = "0.05" step="0.05" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class = 'Mask_input'>
                <td>
                  Filtering Mask Type
                </td>
                <td>                    
                  <select id="Mask" onclick="MaskChanged(this)">
                    <option selected="selected" value="1">Lowpass</option>
                    <option value="2">Highpass</option>
                    <option value="3">Bandpass</option>
                    <option value="4">Bandstop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Order
                </td>
                <td>
                  <input type="number" id="Order" value = "5" min="1" max=10 step="1" style="width: 4em" onchange="Order_changed(this)" oninput="validity.valid||(value='');"/>
                </td>
              </tr>
              <tr class="fc_input">
                <td>
                  Cutoff Freq (MHz)
                </td>
                <td>
                  <input type="number" id="Cutoff" min="1" value = "500" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="fBPF_input">
                <td>
                  Lower Cutoff Freq (MHz)
                </td>
                <td>
                  <input type="number" id="f1" min="1" value = "400" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="fBPF_input">
                <td>
                  Higher Cutoff Freq (MHz)
                </td>
                <td>
                  <input type="number" id="f2" min="1" value = "600" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr>
                <td>
                  Z<sub>source</sub> (&Omega;)
                </td>
                <td>
                  <input type="number" id="ZS" min="1" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class = "Rload_input">
                <td>
                  Z<sub>load</sub> (&Omega;)
                </td>
                <td>
                  <input type="number" id="ZL" min="1" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="inductance_input">
          <table id="tableX" class="table table-hover table-bordered ">
            <thead style="text-align: center; vertical-align: middle;">
              <tr>
                <th>Res # </th>
                <th>L (nH)</th>
              </tr>
            </thead>
          </table>
        </div>

          <table class="table table-hover">
            <h5 align="center"> Simulation</h5>
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Start Freq (MHz)
                </td>
                <td>
                  <input type="number" id="f_start" min="1" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr>
                <td>
                  End Freq (MHz)
                </td>
                <td>
                  <input type="number" id="f_stop" min="1" value = "1000" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr>
                <td>
                  Points
                </td>
                <td>
                  <input type="number" id="Points" min="1" value = "201" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

      </div>

      
      <div class="col-md-auto box">
          <div class="row">
              <div class="col-xs-6 col-md-6" >
                  <div class="card shadow-sm">
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <div id="container" style="width: 800px"></div>
                  </div>
              </div>
          </div>
        
          <div class="card">
            <div class="card-body">
              <div class='row'>
                <div class="col-xs-6 col-md-6" >
                  <h5 class="card-title">Schematic</h5>
                </div>

                <div class="col-xs-1 col-md-1" > 
                  <a href="{% url 'svg_download' %}" class="btn btn-light" role="button">Download SVG</a>
                </div>

                <div class="col-xs-2 col-md-2" > 
                  <a href="{% url 'qucs_filter_download' %}" class="btn btn-warning" role="button">Download Qucs Schematic</a>
                </div>
              </div>
            </div>
            <div class="card-text text-center">
              <script src="https://unpkg.com/svg-pan-zoom-container"></script>
              <!-- https://www.cssscript.com/svg-pan-zoom-container/ -->
              <div data-zoom-on-wheel data-pan-on-drag>
                <svg id='svg_display' height = 500 width = 1000>
                  {{ svg | safe }}
                </svg>
              </div>

            </div>
          </div>
          </div>
      </div>
  </div>


<script>
submit_form()

  // It's called just when the page is loaded
  $(document).ready(function () {
    $('.EllipticType_input').hide(); // Hide elliptic type
    $('.as_input').hide();// Hide stopband attenuation
    $('.DC_Type_input').hide(); //Hide Direct Coupled LC type
    $('.fc_input').show();
    $('.fBPF_input').hide();
    $('.PhaseError_input').hide();
    $('.inductance_input').hide()// Hide resonator values
  })

  function MaskChanged(select) {
    if (select.value <= 2){
      // LPF of HPF
      $('.fc_input').show();
      $('.fBPF_input').hide();
      document.getElementById("f_start").value = 0.1*document.getElementById("f1").value
      document.getElementById("f_stop").value = 2*document.getElementById("f2").value
    }else{
      //BPF or HPF  
      $('.fc_input').hide();
      $('.fBPF_input').show();
      document.getElementById("f_start").value = 0.8*document.getElementById("f1").value
      document.getElementById("f_stop").value = 1.2*document.getElementById("f2").value
    }
    submit_form()
  }

  function StructureChanged(select) {
    if (select.value == 1){
    // Conventional LC
    $('.FirstElement_input').show() // Make visible first shunt / series
    $('.DC_Type_input').hide(); // Hide Direct Coupled LC type
    $('.Mask_input').show(); //Show mask choice
    $('.inductance_input').hide()// Hide inductance values

    // Restore initial setup
    document.getElementById("Mask").value = 1; // Lowpass
    document.getElementById("Cutoff").value = 500;
    $('.fc_input').show();
    $('.fBPF_input').hide();

    document.getElementById("f_start").value = 10;
    document.getElementById("f_stop").value = 1000;
    document.getElementById("Response").options[0].disabled = false // Enable elliptic response.
    document.getElementById("Order").value = 5;

    submit_form()
    }

    if (select.value == 2){
      // Direct Coupled LC
      document.getElementById("Mask").value = 3 // Only Bandpass
      $('.Mask_input').hide(); //Hide mask choice
      
      document.getElementById("Response").value = 2 // Force Chebyshev response by default
      document.getElementById("Response").options[0].disabled = true // Disable elliptic response. It cannot be implemented using Direct Coupled LC techniques

      // Put a narrowband setup
      document.getElementById("f1").value = 495;
      document.getElementById("f2").value = 505;

      document.getElementById("f_start").value = 480;
      document.getElementById("f_stop").value = 520;

      document.getElementById("Order").value = 3;
      
      $('.DC_Type_input').show(); // Show Direct Coupled LC type
      $('.FirstElement_input').hide()// Hide first shunt/series
      $('.EllipticType_input').hide();// Hide Elliptic type
      $('.as_input').hide();// Hide stopband attenuation
      
      $('.inductance_input').show()// Show inductance values

      var N = document.getElementById("Order").value;
      CreateTableDirectCoupled(N, 'L')

      $('.fc_input').hide();
      $('.fBPF_input').show();

      submit_form()
    }
  }

  function DC_Type_changed(select){
    var N = document.getElementById("Order").value;
    if ((select.value == 1) || (select.value == 4) ){
      $('.inductance_input').show()// Show resonator values
      CreateTableDirectCoupled(N, 'L')
      for (var i = 0; i < N; i++){
        document.getElementById("X[" + i.toString() + "]").value = 100
      }
      
    }

    if ((select.value == 2) || (select.value == 3) || (select.value == 5)){
      $('.inductance_input').show()// Show resonator values
      CreateTableDirectCoupled(N, 'C')
      for (var i = 0; i < N; i++){
        document.getElementById("X[" + i.toString() + "]").value = 1
      }
    }

    if (select.value == 6){ // Quarter wavelength coupling
      $('.inductance_input').hide()// Hide resonator values
    }


    submit_form()
  }

  function Order_changed(N){
    // If Direct Coupled LC, rebuild table, otherwise, ignore
    if (document.getElementById("Structure").value == 2){
      CreateTableDirectCoupled(N.value, '-')
    }
    submit_form()
  }

  // This function takes control over the displayed fields depending on the filter type (e.g. ripple and phase error)
  function ResponseChanged(select) {
    // Elliptic type visibility
    if (select.value == 1){
      $('.EllipticType_input').show();
      $('.Rload_input').hide();
      document.getElementById("Order").value = 2
    }
    else{
      $('.EllipticType_input').hide();
      $('.Rload_input').show();
      document.getElementById("Order").value = 5
    }
    // Ripple visibility
    if ((select.value == 1) || (select.value == 2) || (select.value == 5)){
      // Elliptic, Chebyshev and Gegenbauer responses have ripple, the other don't
      $('.Ripple_input').show();
    }
    else{
      $('.Ripple_input').hide();
    }
    // Stopband attenuation visibility
    if (select.value == 1){
      // Elliptic type has stopband attenuation, the others don't
      $('.as_input').show();
    }
    else{
      $('.as_input').hide();
    }
    // Linear Phase visibility
    if (select.value == 7){
      $('.PhaseError_input').show();
    }
    else{
      $('.PhaseError_input').hide();
    }
    submit_form()
  }
  function submit_form(){
    // Get variables from the form
    var Structure = document.getElementById("Structure").value;
    var DC_Type = document.getElementById("DC_Type").value;
    var FirstElement = document.getElementById("FirstElement").value;
    var ResponseType = document.getElementById("Response").value;
    var EllipticType = document.getElementById("EllipticType").value;
    var Ripple = document.getElementById("Ripple").value;
    var a_s = document.getElementById("a_s").value;
    var PhaseError = document.getElementById("PhaseError").value;
    var Mask = document.getElementById("Mask").value;
    var Order = document.getElementById("Order").value;
    var Cutoff = document.getElementById("Cutoff").value;
    var f1 = document.getElementById("f1").value;
    var f2 = document.getElementById("f2").value;
    var ZS = document.getElementById("ZS").value;
    var ZL = document.getElementById("ZL").value;
    var f_start = document.getElementById("f_start").value;
    var f_stop = document.getElementById("f_stop").value;
    var Points = document.getElementById("Points").value;

    // Get the reactances for the Direct Coupled LC filter
    var Xres = [];
    if (Structure == 2){
      for(var i=0; i<Order; i++) {
      Xres.push(document.getElementById("X[" + i + "]").value);
    }
    }
    
    $.ajax({
        type: "POST",
        url: 'filter_design',
        data: {
            "Structure": Structure,
            "DC_Type": DC_Type,
            "FirstElement": FirstElement,
            "Response": ResponseType,
            "EllipticType": EllipticType,
            "Ripple": Ripple,
            "a_s": a_s,
            "PhaseError": PhaseError,
            "Mask": Mask,
            "Order": Order,
            "Cutoff": Cutoff,
            "f1": f1,
            "f2": f2,
            "ZS": ZS,
            "ZL": ZL,
            "f_start": f_start,
            "f_stop": f_stop,
            "n_points": Points,
            "Xres[]": Xres,
        },
        dataType: "json",
        success: function (data) {
            $("#svg_display").html(data['svg'])
    
            // Retrieve data from django
            freq = data['freq']
            S11 = data['S11']
            S21 = data['S21']
            title = data['title']
            plotChart(freq, S21, S11, title)

            if (data['warning']){
              alert(data['warning'])
            }
        },
        failure: function () {
            alert("JSON failure");
        }
    });
  }

function CreateTableDirectCoupled(N, X){
  var table = document.querySelector('#tableX');
  var d = N - (table.rows.length -1); // -1 excludes the header
  
  if (X == 'C'){
    table.rows[0].cells[1].textContent = 'C [pF]';
  }else{
    if (X == 'L'){
      table.rows[0].cells[1].textContent = 'L [nH]';
    }
  }

  if (d == 0) return;

  if (d < 0){ // Remove rows from the end
    d = -d
    for(var i = 0; i < d; i++){
      table.deleteRow(-1);
    }
    
  } else{
    var last_id = (table.rows.length - 2) // Rows are added at the end. It is needed to put the ID accordingly
    for(var i = 0; i < d; i++){
      insertrow(last_id + i + 1)
    }
  }
}

function insertrow(id){
  var table = document.querySelector("#tableX");
  var row = table.insertRow();
  var cell1 = row.insertCell();
  cell1.innerHTML = id;
  var cell2 = row.insertCell();
  cell2.innerHTML = "<input type=\"number\" id=\"X[" + id+ "]\" value = \"100\" style=\"width: 4em\" onchange=\"submit_form(this)\"/>";
}


function linspace_int(startValue, stopValue, cardinality) {
  var arr = [];
  var step = (stopValue - startValue) / (cardinality - 1);
  for (var i = 0; i < cardinality; i++) {
    arr.push(Math.round(startValue + (step * i)));
  }
  return arr;
}

function plotChart(x, y1, y2, title) {
          $('#container').highcharts({
                plotOptions: {
                              series: {
                                      animation: false
                                      }
                              },
                title: {
                          text: title
                         },
                xAxis: {
                        categories: x,
                        gridLineWidth: 1,
                        tickPositions: linspace_int(0, x.length-1, 10),
                        title: {text: 'freq (MHz)'}
                        },
                yAxis: [
                                {
                                min: -50,
                                title: {
                                        text: 'S21 (dB), S11 (dB)'
                                      },
                                      gridLineWidth: 1, 
                                      tickInterval: 5,
                                      tickPositioner: function(){
                                                                  var ticks = this.tickPositions;
                                                                  ticks.sort(function(a, b) {
                                                                  return a - b;
                                                                  });
                                                                return ticks;
                                                                }
                                }
                        ],
                                series: [{
                                  name: 'S21 (dB)',
                                  data: y1,
                                  color: 'red',
                                  yAxis: 0
                                },
                                {
                                  name: 'S11 (dB)',
                                  data: y2,
                                  color: 'blue',
                                  yAxis: 0
                                }
                              ]
                            });
                        };

</script>
{% endblock %}

