{% extends "base_generic.html" %}
<head>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% load static %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
          <h2 class="tool-name">Filter Design</h2>
        </div>
    </div>
    <div class="row">
      <div class="col-md-auto box_form">
        <!-- Instantiate the form -->
        <form id="FilterDesign_form" method="POST">
          {% csrf_token %}          
          <table class="rf_table_style table table-hover">
            <h5 align="center"> Filter Type</h5>
            <thead>
              <tr>
                <td>Parameter</td>
                <td>Value</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    Structure
                </td>
                <td>                 
                    <select id="Structure" onchange="StructureChanged(this)">
                      <option selected="selected" value="1">Conventional LC</option>
                      <option value="2">Direct Coupled LC</option>
                    </select>
                </td>
              </tr>
              <tr class = 'DC_Type_input'>
                <td>
                  Type
              </td>
              <td>                 
                  <select id="DC_Type" onchange="DC_Type_changed(this)">
                    <option selected="selected" value="1">C-coupled shunt resonators</option>
                    <option value="2">L-coupled shunt resonators</option>
                    <option value="3">L-coupled series resonators</option>
                    <option value="4">C-coupled series resonators</option>
                    <option value="5">Magnetic coupled resonators</option>
                    <option value="6">Quarter-Wave coupled resonators</option>
                  </select>
              </td>
              </tr>

              <tr class = "FirstElement_input">
                <td>
                    First Element
                </td>
                <td>                 
                    <select id="FirstElement" onchange="submit_form(this)">
                      <option value="1"> First Shunt</option>
                      <option selected="selected" value="2">First Series</option>
                    </select>
                </td>
              </tr>

              <tr>
                <td>
                    Response Type
                </td>
                <td>
                  <select id="Response" onchange="ResponseChanged(this)">
                    <option id='EllipticResponse' value="1">Elliptic</option>
                    <option selected="selected" value="2">Chebyshev</option>
                    <option value="3">Butterworth</option>
                    <!-- <option value="4">Bessel</option>
                    <option value="5">Legendre</option>
                    <option value="6">Gegenbauer</option>
                    <option value="7">Linear Phase</option>
                    <option value="8">Gaussian</option> -->
                  </select>
                </td>
              </tr>
              <tr class = "EllipticType_input">
                <td>
                    Elliptic Type
                </td>
                <td>
                  <select id="EllipticType" onchange="submit_form(this)">
                    <option selected="selected" value="1">Type S</option>
                    <option value="2">Type A</option>
                    <option value="3">Type B</option>
                    <option value="4">Type C</option>
                  </select>
                </td>
              </tr>
              <tr class="Ripple_input">
                <td>
                  Ripple (dB)
                </td>
                <td>
                  <input type="number" id="Ripple" value = "0.05" step="0.05" min="0" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="as_input">
                <td>
                  Stopband att (dB)
                </td>
                <td>
                  <input type="number" id="a_s" value = "35" step="1" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class="PhaseError_input">
                <td>
                  Phase Error (deg)
                </td>
                <td>
                  <input type="number" id="PhaseError" value = "0.05" step="0.05" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class = 'Mask_input'>
                <td>
                  Filtering Mask Type
                </td>
                <td>                    
                  <select id="Mask" onclick="MaskChanged(this)">
                    <option selected="selected" value="1">Lowpass</option>
                    <option value="2">Highpass</option>
                    <option value="3">Bandpass</option>
                    <option value="4">Bandstop</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Order
                </td>
                <td>
                  <input type="number" id="Order" value = "5" min="1" max=10 step="1" style="width: 4em" onchange="Order_changed(this)" oninput="validity.valid||(value='');"/>
                </td>
              </tr>
              <tr class="fc_input">
                <td>
                  Cutoff Freq
                </td>
                <td>
                  <input type="number" id="Cutoff" min="1" value = "500" style="width: 4em" onchange="submit_form(this)"/>
                  <select id="fc_scale" onchange="submit_form(this)">
                    <option value="1">Hz</option>
                    <option value="2">kHz</option>
                    <option selected="selected" value="3">MHz</option>
                    <option value="4">GHz</option>
                  </select>
                </td>
              </tr>
              <tr class="fBPF_input">
                <td>
                  Lower Cutoff Freq
                </td>
                <td>
                  <input type="number" id="f1" min="1" value = "400" style="width: 4em" onchange="submit_form(this)"/>
                  <select id="f1_scale" onchange="submit_form(this)">
                    <option value="1">Hz</option>
                    <option value="2">kHz</option>
                    <option selected="selected" value="3">MHz</option>
                    <option value="4">GHz</option>
                  </select>
                </td>
              </tr>
              <tr class="fBPF_input">
                <td>
                  Higher Cutoff Freq
                </td>
                <td>
                  <input type="number" id="f2" min="1" value = "600" style="width: 4em" onchange="submit_form(this)"/>
                  <select id="f2_scale" onchange="submit_form(this)">
                    <option value="1">Hz</option>
                    <option value="2">kHz</option>
                    <option selected="selected" value="3">MHz</option>
                    <option value="4">GHz</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Z<sub>source</sub> (&Omega;)
                </td>
                <td>
                  <input type="number" id="ZS" min="1" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
              <tr class = "Rload_input">
                <td>
                  Z<sub>load</sub> (&Omega;)
                </td>
                <td>
                  <input type="number" id="ZL" min="1" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="inductance_input">
          <table id="tableX" class="rf_table_style table table-bordered ">
            <thead style="text-align: center; vertical-align: middle;">
              <tr>
                <td>Res # </td>
                <td>L (nH)</td>
              </tr>
            </thead>
            <tr></tr>
          </table>
        </div>

        </form>

      </div>

      
      <div class="col-md-auto box">
          <div class="row">
              <div class="col-xs-4 col-md-8" >
                  <div class="card shadow-sm">
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <div id="container" style="width: 800px"></div>
                  </div>
              </div>
          </div>
        
          <div class="card">
            <div class="card-body">
              <div class='row'>
                <div class="col-xs-6 col-md-6" >
                  <h5 class="card-title">Schematic</h5>
                </div>

                <div class="col-xs-2 col-md-2" > 
                  <a href="{% url 'svg_download' %}" class="btn btn-light" role="button">Download SVG</a>
                </div>

                <div class="col-xs-4 col-md-4" > 
                  <a href="{% url 'qucs_filter_download' %}" class="btn btn-warning" role="button">Download Qucs Schematic</a>
                </div>
              </div>
            </div>
            <div class="card-text text-center">
              <script src="https://unpkg.com/svg-pan-zoom-container"></script>
              <!-- https://www.cssscript.com/svg-pan-zoom-container/ -->
              <div data-zoom-on-wheel data-pan-on-drag>
                <svg id='svg_display' height = 500 width = 700>
                  {{ svg | safe }}
                </svg>
              </div>

            </div>
          </div>
          </div>

          <div class="col-md-auto box_form">

            <h5 align="center"> Simulation Parameters</h5>
            
            <div class="col-md-auto box">
              <div class="col-md-auto box" align="center">
                <input type="radio" id="fmode1" name="fmode" value="fmode1" checked="checked" onchange="switch_sweep_mode(this)">
                <span>fstart | fstop</span>

                <input type="radio" id="fmode2" name="fmode" value="fmode2" onchange="switch_sweep_mode(this)">
                <span>fc | span</span>
              </div>

            </div>
           
            <table class="rf_table_style table">
              <thead>
                <tr>
                  <td>Parameter</td>
                  <td>Value</td>
                </tr>
              </thead>
              <tbody>
                <tr class="sweep_mode1">
                  <td>
                    Start Freq
                  </td>
                  <td>
                    <input type="number" id="f_start" min="0" value = "50" style="width: 4em" onchange="submit_form(this)"/>
                    <select id="f_start_scale" onchange="submit_form(this)">
                      <option value="1">Hz</option>
                      <option value="2">kHz</option>
                      <option selected="selected" value="3">MHz</option>
                      <option value="4">GHz</option>
                    </select>
                  </td>
                </tr>
                <tr class="sweep_mode1">
                  <td>
                    End Freq
                  </td>
                  <td>
                    <input type="number" id="f_stop" min="0" value = "1000" style="width: 4em" onchange="submit_form(this)"/>
                    <select id="f_stop_scale" onchange="submit_form(this)">
                      <option value="1">Hz</option>
                      <option value="2">kHz</option>
                      <option selected="selected" value="3">MHz</option>
                      <option value="4">GHz</option>
                    </select>
                  </td>
                </tr>
                <tr class="sweep_mode2">
                  <td>
                    f<sub>0</sub>
                  </td>
                  <td>
                    <input type="number" id="f0_span" min="0" value = "500" style="width: 4em" onchange="submit_form(this)"/>
                    <select id="f0_sweep_scale" onchange="submit_form(this)">
                      <option value="1">Hz</option>
                      <option value="2">kHz</option>
                      <option selected="selected" value="3">MHz</option>
                      <option value="4">GHz</option>
                    </select>
                  </td>
                </tr>
                <tr class="sweep_mode2">
                  <td>
                    Span
                  </td>
                  <td>
                    <input type="number" id="fspan" min="0" value = "1000" style="width: 4em" onchange="submit_form(this)"/>
                    <select id="span_scale" onchange="submit_form(this)">
                      <option value="1">Hz</option>
                      <option value="2">kHz</option>
                      <option selected="selected" value="3">MHz</option>
                      <option value="4">GHz</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    Points
                  </td>
                  <td>
                    <input type="number" id="Points" min="1" value = "201" style="width: 4em" onchange="submit_form(this)"/>
                  </td>
                </tr>
              </tbody>
            </table>

            <table class="rf_table_style table">
              <h5 align="center"> Display Parameters</h5>
              <thead id = 'Sim_Head'>
                <tr>
                  <td>Parameter</td>
                  <td>Value</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>
                      Scale (dB/div)
                    </td>
                    <td>
                      <input type="number" id="y_axis_scale" min="1" value = "5" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Maximum (dB)
                    </td>
                    <td>
                      <input type="number" id="y_axis_max" min="10" value = "0" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Minimum (dB)
                    </td>
                    <td>
                      <input type="number" id="y_axis_min" min="-200" value = "-50" style="width: 4em" onchange="submit_form(this)"/>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>

      </div>
  </div>


<script>
submit_form()

  // It's called just when the page is loaded
  $(document).ready(function () {
    $('.EllipticType_input').hide(); // Hide elliptic type
    $('.as_input').hide();// Hide stopband attenuation
    $('.DC_Type_input').hide(); //Hide Direct Coupled LC type
    $('.fc_input').show();
    $('.fBPF_input').hide();
    $('.PhaseError_input').hide();
    $('.inductance_input').hide()// Hide resonator values
    $('.sweep_mode2').hide();
  })

  // Hide or show the corresponding inputs
  function switch_sweep_mode(button){
    if (button.value == 'fmode1'){
      // fstart / fstop
      $('.sweep_mode1').show();
      $('.sweep_mode2').hide();

      // Update inputs: the values may change in the other mode
      let f0 = document.getElementById("f0_span").value;
      let scale = document.getElementById('f0_sweep_scale').value;
      f0 = f0*Math.pow(10, (scale-1)*3)


      let span = document.getElementById("fspan").value;
      scale = document.getElementById('span_scale').value;
      span = span*Math.pow(10, (scale-1)*3)

      let fstart = f0-0.5*span
      let fstop = f0+0.5*span

      let text_in = document.getElementById("f_start")
      let units_in = document.getElementById("f_start_scale")

      setFreqInputW_Units(text_in, units_in, fstart)

      text_in = document.getElementById("f_stop")
      units_in = document.getElementById("f_stop_scale")

      setFreqInputW_Units(text_in, units_in, fstop)
    }
    else{
      // fc / span
      $('.sweep_mode1').hide();
      $('.sweep_mode2').show();

      // Update inputs: the values may change in the other mode
      let fstart = document.getElementById("f_start").value;
      let scale = document.getElementById('f_start_scale').value;
      fstart = fstart*Math.pow(10, (scale-1)*3)

      let fstop = document.getElementById("f_stop").value;
      scale = document.getElementById('f_stop_scale').value;
      fstop = fstop*Math.pow(10, (scale-1)*3)

      let bw = fstop-fstart;

      let f0 = fstart + 0.5*bw

      let text_in = document.getElementById("f0_span")
      let units_in = document.getElementById("f0_sweep_scale")
      setFreqInputW_Units(text_in, units_in, f0)

      text_in = document.getElementById("fspan")
      units_in = document.getElementById("span_scale")
      setFreqInputW_Units(text_in, units_in, bw)

    }
  }

  // Set the frequency in the user input i.e. text + combobox
  function setFreqInputW_Units(text_in, units_in, val)
  {
    if (val >= 2e9)
    {
      // GHz
      val = val*1e-9;
      text_in.value = val
      units_in.value = 4
    }
    else
    {
      if (val >= 2e6)
      {
        // MHz
        val = val*1e-6;
        text_in.value = val
        units_in.value = 3
      }
      else
      {
        if (val >= 2e3)
        {
          // KHz
          val = val*1e-3;
          text_in.value = val
          units_in.value = 2
        }
        else
        {
          // Hz
          text_in.value = val
          units_in.value = 1
        }
      }
    }
  }

  function MaskChanged(select) {
    let scale, fstart, fstop
    if (select.value <= 2){
      // LPF of HPF
      $('.fc_input').show();
      $('.fBPF_input').hide();

      // Fstart
      fstart = document.getElementById("f1").value
      scale = document.getElementById('f1_scale').value;
      fstart = 0.1*fstart*Math.pow(10, (scale-1)*3)

      // Fstop
      fstop = document.getElementById("f2").value;
      scale = document.getElementById('f2_scale').value;
      fstop = 2*fstop*Math.pow(10, (scale-1)*3)


    }else{
      //BPF or BSF  
      $('.fc_input').hide();
      $('.fBPF_input').show();

      // Fstart
      fstart = document.getElementById("f1").value
      scale = document.getElementById('f1_scale').value;
      fstart = 0.8*fstart*Math.pow(10, (scale-1)*3);

      // Fstop
      fstop = document.getElementById("f2").value
      scale = document.getElementById('f2_scale').value;
      fstop = 1.2*fstop*Math.pow(10, (scale-1)*3)
    }

    // Update frequency inputs
    let text_in = document.getElementById("f_start")
    let units_in = document.getElementById("f_start_scale")
    setFreqInputW_Units(text_in, units_in, fstart)

    text_in = document.getElementById("f_stop")
    units_in = document.getElementById("f_stop_scale")
    setFreqInputW_Units(text_in, units_in, fstop)

    // f0
    let bw = fstop - fstart
    let f0 = fstart + 0.5*bw
    text_in = document.getElementById("f0_span")
    units_in = document.getElementById("f0_sweep_scale")
    setFreqInputW_Units(text_in, units_in, f0)

    //BW
    text_in = document.getElementById("fspan")
    units_in = document.getElementById("span_scale")
    setFreqInputW_Units(text_in, units_in, bw)

    submit_form()
  }

  function StructureChanged(select) {
    if (select.value == 1){
    // Conventional LC
    $('.FirstElement_input').show() // Make visible first shunt / series
    $('.DC_Type_input').hide(); // Hide Direct Coupled LC type
    $('.Mask_input').show(); //Show mask choice
    $('.inductance_input').hide()// Hide inductance values

    // Restore initial setup
    document.getElementById("Mask").value = 1; // Lowpass
    document.getElementById("Cutoff").value = 500;
    $('.fc_input').show();
    $('.fBPF_input').hide();

    document.getElementById("f_start").value = 10;
    document.getElementById("f_stop").value = 1000;
    document.getElementById("Response").options[0].disabled = false // Enable elliptic response.
    document.getElementById("Order").value = 5;

    submit_form()
    }

    if (select.value == 2){
      // Direct Coupled LC
      document.getElementById("Mask").value = 3 // Only Bandpass
      $('.Mask_input').hide(); //Hide mask choice
      
      document.getElementById("Response").value = 2 // Force Chebyshev response by default
      document.getElementById("Response").options[0].disabled = true // Disable elliptic response. It cannot be implemented using Direct Coupled LC techniques

      // Put a narrowband setup
      document.getElementById("f1").value = 495;
      document.getElementById("f2").value = 505;

      document.getElementById("f_start").value = 480;
      document.getElementById("f_stop").value = 520;

      document.getElementById("Order").value = 3;
      
      $('.DC_Type_input').show(); // Show Direct Coupled LC type
      $('.FirstElement_input').hide()// Hide first shunt/series
      $('.EllipticType_input').hide();// Hide Elliptic type
      $('.as_input').hide();// Hide stopband attenuation
      
      $('.inductance_input').show()// Show inductance values

      var N = document.getElementById("Order").value;
      CreateTableDirectCoupled(N, 'L')

      $('.fc_input').hide();
      $('.fBPF_input').show();

      submit_form()
    }
  }

  function DC_Type_changed(select){
    var N = document.getElementById("Order").value;
    if ((select.value == 1) || (select.value == 4) ){
      $('.inductance_input').show()// Show resonator values
      CreateTableDirectCoupled(N, 'L')
      for (var i = 0; i < N; i++){
        document.getElementById("X[" + i.toString() + "]").value = 100
      }
      
    }

    if ((select.value == 2) || (select.value == 3) || (select.value == 5)){
      $('.inductance_input').show()// Show resonator values
      CreateTableDirectCoupled(N, 'C')
      for (var i = 0; i < N; i++){
        document.getElementById("X[" + i.toString() + "]").value = 1
      }
    }

    if (select.value == 6){ // Quarter wavelength coupling
      $('.inductance_input').hide()// Hide resonator values
    }


    submit_form()
  }

  function Order_changed(N){
    // If Direct Coupled LC, rebuild table, otherwise, ignore
    if (document.getElementById("Structure").value == 2){
      CreateTableDirectCoupled(N.value, '-')
    }
    submit_form()
  }

  // This function takes control over the displayed fields depending on the filter type (e.g. ripple and phase error)
  function ResponseChanged(select) {
    // Elliptic type visibility
    if (select.value == 1){
      $('.EllipticType_input').show();
      $('.Rload_input').hide();
      document.getElementById("Order").value = 2
    }
    else{
      $('.EllipticType_input').hide();
      $('.Rload_input').show();
      document.getElementById("Order").value = 5
    }
    // Ripple visibility
    if ((select.value == 1) || (select.value == 2) || (select.value == 5)){
      // Elliptic, Chebyshev and Gegenbauer responses have ripple, the other don't
      $('.Ripple_input').show();
    }
    else{
      $('.Ripple_input').hide();
    }
    // Stopband attenuation visibility
    if (select.value == 1){
      // Elliptic type has stopband attenuation, the others don't
      $('.as_input').show();
    }
    else{
      $('.as_input').hide();
    }
    // Linear Phase visibility
    if (select.value == 7){
      $('.PhaseError_input').show();
    }
    else{
      $('.PhaseError_input').hide();
    }
    submit_form()
  }
  function submit_form(){
    // Get variables from the form
    var Structure = document.getElementById("Structure").value;
    var DC_Type = document.getElementById("DC_Type").value;
    var FirstElement = document.getElementById("FirstElement").value;
    var ResponseType = document.getElementById("Response").value;
    var EllipticType = document.getElementById("EllipticType").value;
    var Ripple = document.getElementById("Ripple").value;
    var a_s = document.getElementById("a_s").value;
    var PhaseError = document.getElementById("PhaseError").value;
    var Mask = document.getElementById("Mask").value;
    var Order = document.getElementById("Order").value;
    var Cutoff = document.getElementById("Cutoff").value;
    var scale_fc = document.getElementById('fc_scale').value;
    Cutoff = Cutoff*Math.pow(10, (scale_fc-1)*3)
    
    var f1 = document.getElementById("f1").value;
    var scale_f1 = document.getElementById('f1_scale').value;
    f1 = f1*Math.pow(10, (scale_f1-1)*3)

    var f2 = document.getElementById("f2").value;
    var scale_f2 = document.getElementById('f2_scale').value;
    f2 = f2*Math.pow(10, (scale_f2-1)*3)

    var ZS = document.getElementById("ZS").value;
    var ZL = document.getElementById("ZL").value;

    var f_start = document.getElementById("f_start").value;
    var scale_fstart = document.getElementById('f_start_scale').value;
    f_start = f_start*Math.pow(10, (scale_fstart-1)*3)

    var f_stop = document.getElementById("f_stop").value;
    var scale_fstop = document.getElementById('f_stop_scale').value;
    f_stop = f_stop*Math.pow(10, (scale_fstop-1)*3)

    var f0_span = document.getElementById("f0_span").value;
    var scale_fsweep = document.getElementById('f0_sweep_scale').value;
    f0_span = f0_span*Math.pow(10, (scale_fsweep-1)*3)

    var f_span = document.getElementById("fspan").value;
    var scale_fspan = document.getElementById('span_scale').value;
    f_span = f_span*Math.pow(10, (scale_fspan-1)*3);

    var Points = document.getElementById("Points").value;

    // Get the reactances for the Direct Coupled LC filter
    var Xres = [];
    if (Structure == 2){
      for(var i=1; i<=Order; i++) {
      Xres.push(document.getElementById("X[" + i + "]").value);
    }
    }

    let sweep_mode = 1
    sweep_mode_button = document.getElementById('fmode1')
    if (sweep_mode_button.checked == false){
      // f0 | span
      sweep_mode = 2
    }

    $.ajax({
        type: "POST",
        url: 'filter_design',
        data: {
            "Structure": Structure,
            "DC_Type": DC_Type,
            "FirstElement": FirstElement,
            "Response": ResponseType,
            "EllipticType": EllipticType,
            "Ripple": Ripple,
            "a_s": a_s,
            "PhaseError": PhaseError,
            "Mask": Mask,
            "Order": Order,
            "Cutoff": Cutoff,
            "f1": f1,
            "f2": f2,
            "ZS": ZS,
            "ZL": ZL,
            "f_start": f_start,
            "f_stop": f_stop,
            "f0_span": f0_span,
            "f_span": f_span,
            "sweep_mode": sweep_mode,
            "n_points": Points,
            "Xres[]": Xres,
        },
        dataType: "json",
        success: function (data) {
            $("#svg_display").html(data['svg'])
    
            // Retrieve data from django
            freq = data['freq']
            S11 = data['S11']
            S21 = data['S21']
            title = data['title']
            plotChart(freq, S21, S11, title)

            if (data['warning']){
              alert(data['warning'])
            }
        },
        failure: function () {
            alert("JSON failure");
        }
    });
  }

function CreateTableDirectCoupled(N, X){
  var table = document.querySelector('#tableX');
  var d = N - (table.rows.length -2); // -1 excludes the header
  
  if (X == 'C'){
    table.rows[0].cells[1].textContent = 'C [pF]';
  }else{
    if (X == 'L'){
      table.rows[0].cells[1].textContent = 'L [nH]';
    }
  }

  if (d == 0) return;

  if (d < 0){ // Remove rows from the end
    d = -d
    for(var i = 0; i < d; i++){
      table.deleteRow(-1);
    }
    
  } else{
    var last_id = (table.rows.length - 2) // Rows are added at the end. It is needed to put the ID accordingly
    for(var i = 0; i < d; i++){
      insertrow(last_id + i + 1)
    }
  }
}

function insertrow(id){
  var table = document.querySelector("#tableX");
  var row = table.insertRow();
  var cell1 = row.insertCell();
  cell1.innerHTML = id;
  var cell2 = row.insertCell();
  cell2.innerHTML = "<input type=\"number\" id=\"X[" + id+ "]\" value = \"100\" style=\"width: 4em\" onchange=\"submit_form(this)\"/>";
}


function linspace_int(startValue, stopValue, cardinality) {
  var arr = [];
  var step = (stopValue - startValue) / (cardinality - 1);
  for (var i = 0; i < cardinality; i++) {
    arr.push(Math.round(startValue + (step * i)));
  }
  return arr;
}

function plotChart(x, y1, y2, title) {

  let y_axis_scale = parseFloat(document.getElementById("y_axis_scale").value)
  let y_axis_min = parseFloat(document.getElementById("y_axis_min").value)
  let y_axis_max = parseFloat(document.getElementById("y_axis_max").value)

          $('#container').highcharts({
                plotOptions: {
                              series: {
                                      animation: false
                                      }
                              },
                title: {
                          text: title
                         },
                xAxis: {
                        categories: x,
                        gridLineWidth: 1,
                        tickPositions: linspace_int(0, x.length-1, 11),
                        title: {text: 'freq (MHz)'}
                        },
                yAxis: [
                                {
                                min: y_axis_min,
                                max: y_axis_max,
                                title: {
                                        text: 'S21 (dB), S11 (dB)'
                                      },
                                      gridLineWidth: 1, 
                                      tickInterval: y_axis_scale,
                                }
                        ],
                                series: [{
                                  name: 'S21 (dB)',
                                  data: y1,
                                  color: 'red',
                                  yAxis: 0
                                },
                                {
                                  name: 'S11 (dB)',
                                  data: y2,
                                  color: 'blue',
                                  yAxis: 0
                                }
                              ]
                            });
                        };

</script>
{% endblock %}

