<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>RF Design Tools</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>

</head>
<body>
    
    <div class="container">
        <div class="jumbotron">
            <a href='/'><h1 class="page-title">RF Design Tools</h1></a>
        </div>    
    </div>
    <div class="row">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'tools-catalog' %}">RF Design Tools</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calculators<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="{% url 'reflection_coeff_tools' %}">Reflection Coefficient Tools<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'RtoZ_tool' %}">&#915; &#8594; Z and S<sub>11</sub></a></li>
                  <li><a tabindex="-1" href="{% url 'ZtoR_tool' %}">Z &#8594; &#915; and S<sub>11</sub></a></li>
                  <li><a tabindex="-1" href="{% url 'SWRtoR_tool' %}">SWR &#8594; |&#915;| and S<sub>11</sub></a></li>
                </ul>
              </li>
              <li><a tabindex="-1" href="{% url 'rf_power_converter_tool' %}">RF Power Unit Converter</a></li>
              <li><a tabindex="-1" href="{% url 'CapRes_Catalog' %}">Parallel/Series resistors and capacitors</a></li>
              <li><a tabindex="-1" href="{% url 'bw_octaves_tool' %}">Octave Calculator</a></li>
            </ul>
          </li>
          <!-- System Design -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">System Design<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="{% url 'ipn_nf_diagram' %}">IP<sub>n</sub> Diagram</a></li>
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="{% url 'image_frequency_catalog' %}">Frequency Planning<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Image Frequency</a></li>
                  <li><a tabindex="-1" href="{% url 'half_IF_tool' %}">Half-IF Spurious</a></li>
                  <li><a tabindex="-1" href="{% url 'Secondary_image_tool' %}">Secondary Image</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Circuit Design</a></li>

          <!-- Docs -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Docs<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- Calculators -->
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="{% url 'image_frequency_catalog' %}">Calculators<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Reflection Coefficient</a></li>
                  <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">RF Power Unit Conversion</a></li>
                  <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">BW in Octaves</a></li>
                  <li class="dropdown-submenu">
                    <a class="test" href="#">Series & Parallel Calculator <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Parallel Resistors</a></li>
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Series Capacitors</a></li>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <!-- System Design -->
              <li class="dropdown-submenu">
                <a class="test" tabindex="-1" href="{% url 'image_frequency_catalog' %}">System Design Tools<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">IP<sub>n</sub> calculation</a></li>
                  <li class="dropdown-submenu">
                    <a class="test" href="#">Frequency Planning <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Image Frequency Notes</a></li>
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Second Image</a></li>
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Half-IF Spurious</a></li>
                      </li>
                    </ul>
                    <a class="test" href="#">Image Rejection Architectures <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu">
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Hartley IR Mixer</a></li>
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">Weaver IR Mixer</a></li>
                        <li><a tabindex="-1" href="{% url 'image_frequency_planning' %}">SSB Mixer</a></li>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
        </ul>
        
      </div>
    </nav>
    </div>

    <script>
      $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e){
          $(this).next('ul').toggle();
          e.stopPropagation();
          e.preventDefault();
        });
      });
      </script>

    {% block content %}{% endblock %}
</body>
</html>