<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5TY8LG1GTX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5TY8LG1GTX');
</script>

  {% block title %}<title>RF Design Tools</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="shortcut icon" href="{%  static '/images/logo/favicon.ico' %}"/> <!-- Favicon path -->
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet"/> 
  <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}"/>

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>

</head>


<body>
   
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">   
    <div class="collapse navbar-collapse">
      <a href="{% url 'tools-catalog' %}" class="navbar-left"> <img src="{% static "/images/logo/logo.png"%}" width="204px" height="50px"></a>

      <ul class="navbar-nav">
      
      <!-- RF CALCULATORS -->
      <li class="nav-item px-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          RF Calculators
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Reflection Coefficient Tools</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'RtoZ_tool' %}">&#915; &#8594; Z and S<sub>11</sub></a></li>
              <li><a class="dropdown-item" href="{% url 'ZtoR_tool' %}">Z &#8594; &#915; and S<sub>11</sub></a></li>
              <li><a class="dropdown-item" href="{% url 'SWRtoR_tool' %}">SWR &#8594; |&#915;| and S<sub>11</sub></a></li>
            </ul>
          </li>

          <li><a class="dropdown-item"  href="{% url 'rf_power_converter_tool' %}">RF Power Unit Converter</a></li>
          <li><a class="dropdown-item"  href="{% url 'bw_octaves_tool' %}">Octave Bandwidth Calculator</a></li>
          <li><a class="dropdown-item"  href="{% url 'wavelength_frequency_tool' %}">Frequency to wavelength</a></li>
          <li><a class="dropdown-item"  href="{% url 'free_space_path_loss_tool' %}">Free Space Loss</a></li>
        </ul>
        </div>
      </li>

      <!-- OTHER CALCULATORS -->
      <li class="nav-item px-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Other Calculators
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item"  href="{% url 'voltage_divider_tool' %}">Voltage Divider</a></li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Parallel/Series resistors and capacitors</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cseries_tool' %}">Series Capacitors</a></li>
              <li><a class="dropdown-item" href="{% url 'rparallel_tool' %}">Parallel Resistors</a></li>
            </ul>
          </li>
        </ul>
        </div>
      </li>

    <!-- SYSTEM DESIGN -->
    <li class="nav-item px-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          System Design
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item"  href="{% url 'ipn_nf_diagram' %}">IP<sub>n</sub> Diagram</a></li>
            <li><a class="dropdown-item"  href="{% url 'system_balance_tool' %}">System Balance</a></li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Frequency Planning</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'image_frequency_planning' %}">Image Frequency Planning</a></li>
                <li><a class="dropdown-item" href="{% url 'image_frequency_calculator' %}">Image Frequency Calculator</a></li>
                <li><a class="dropdown-item" href="{% url 'half_IF_tool' %}">Half-IF Spurious</a></li>
                <li><a class="dropdown-item" href="{% url 'Secondary_image_tool' %}">Secondary Image</a></li>
              </ul>
            </li>
        </ul>
      </div>
    </li>

    <!-- CIRCUIT DESIGN -->
    <li class="nav-item px-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          RF Circuit Design
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item"  href="{% url 'filter_design_tool' %}">Filter Design</a></li>
          <li><a class="dropdown-item"  href="{% url 'matching_network_design_tool' %}">Matching Network Design</a></li>
          <li><a class="dropdown-item"  href="{% url 'attenuator_design_tool' %}">Attenuator Design</a></li>
         <!-- <li><a class="dropdown-item"  href="{% url 'filter_design_tool' %}">Power Combiner Design</a></li>-->
          <li><a class="dropdown-item"  href="{% url 'lumped_trasnmission_line_tool' %}">Lumped Transmission Line Design</a></li>
        </ul>
      </div>
    </li>

    <!-- DESIGN EXAMPLES -->
    <li class="nav-item px-2">
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Design Examples
        </button>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Filters</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'filter_designs' %}">Filter Examples Catalog</a>
              </li>
              
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">LPF</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'SteppedLPF_o5_2GHz' %}">Stepped-Z 3 GHz</a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">BPF</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'CoupledLineBPF_o3_5GHz' %}">QW Coupled Line 5 GHz</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'CoupledLineBPF_w_stubs_o3_5GHz' %}">QW Coupled Line w/ stubs 5 GHz</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">BSF</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'QW_Open_Stubs_w_stubs_o3_5GHz' %}">Quarter-Wave 5 GHz</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">HPF</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'Lumped_HPF_o2_2GHz' %}">Lumped HPF 2 GHz</a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="">Resources</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'libraries' %}">Libraries</a>
              </li>
              
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="{% url 'libraries' %}">Examples</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="{% url 'MurataRF_filter' %}">Murata RF Filter</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </li>

    <li class="nav-item px-2">
      <a class="btn btn-warning" href="{% url 's_parameter_viewer_tool' %}" role="button"><strong>S2P Viewer</strong></a>
    </li>

    <li class="nav-item px-2">
      <a class="btn btn-info" href="{% url 'Docs' %}" role="button"><strong>Docs</strong></a>
    </li>

    </ul>

    </div>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item px-2">

        <li class="nav-item px-2">
          <a class="btn btn-danger" href="https://www.paypal.com/donate/?hosted_button_id=DQJJ8Q9MQMJBY" role="button">&#9829; <strong>Support Me</strong></a>
        </li>
  

        <li class="nav-item px-2">
          <a class="btn btn-success" href="{% url 'contact' %}" role="button"><strong>About</strong></a>
        </li>

      </ul>
      

    </div>
  </nav>



      <script>
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
          if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
          }
          var $subMenu = $(this).next(".dropdown-menu");
          $subMenu.toggleClass('show');


          $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
          });


          return false;
        });
      </script>

    {% block content %}
    {% endblock %}

  <footer style="text-align: center"> Copyright &copy; 2020-<script>document.write(new Date().getFullYear())</script> Andrés Martínez Mera - <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU Public License Version 3</a></footer>
</body>
</html>