{% extends "base_generic.html" %}

{% block content %}
 
<div class="container">
  <div class="card shadow-sm">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">About</h1>					

        <div class="card shadow-sm">
          <div class="text-nowrap" style="width: 8rem;">
                      
            <ul style="list-style-type:disc">
              <li>This site was created with the aim of providing quick tools for the day-to-day work of RF engineers. In fact, I use many of these tools on an almost daily basis.</li>
              <li>Please notice that I write these tools in my spare time so they are likely to be riddled with errors.</li>
              <li>If you have found a bug or just have a suggestion for improvement, feel free to get in touch at <a href="mailto:andresmmera@protonmail.com">andresmmera@protonmail.com</a></li>
              <li>Please consider making a <a href="https://www.paypal.com/donate/?hosted_button_id=DQJJ8Q9MQMJBY"> donation</a> if you find this website useful. This would help me to put more resources into it.</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
<br>
{% endblock %}