{% extends "base_generic.html" %}

{% block content %}
 

<div class="container-fluid">

  <div class="row">
    <div class="col-6 align-self-right">
        <h1 style = "margin: 0.5cm 0.3cm 0.5cm; vertical-align: middle;">About</h1>
    </div>
  </div>  

  <div class="card">
    <div class="card-body">
      <p class="card-text">This site was created with the aim of providing quick tools for the day-to-day work of RF engineers. In fact, I use many of these tools on a regular basis to speed up my work.</p>

      <p class="card-text">Please notice that I write these tools in my spare time so they are likely to be riddled with errors.</p>
      

      <p class="card-text"> If you have found a bug or just have a suggestion for improvement, feel free to get in touch at <a href="mailto:andresmmera@protonmail.com">andresmmera@protonmail.com</a>
      </p>
     
    </div>
  </div>


</div> 

{% endblock %}