{% extends "base_generic.html" %}



{% block content %}
      
        <div class="container">
          <div class="card shadow-sm">
            <div class="row">
              <div class="col-xs-12">
              <h1 class="text-center">Table of Contents</h1>					

               <div>		
               <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                 <ul>
                   <li>1. RF Calculators</li>
                      <ul>
                        <li><a href="{% url 'reflection_coeff_docs' %}">1.1 Reflection Coefficient</a></li>
                        <li><a href="{% url 'rf_power_converter_docs' %}">1.2 RF Power Unit Conversion</a></li>
                        <li><a href="{% url 'bw_octaves_docs' %}">1.3 Bandwidth in octaves</a></li>
                        <li><a href="{% url 'wavelength_frequency_docs' %}">1.4 Frequency to wavelength</a></li>
                        <li><a href="{% url 'free_space_path_loss_docs' %}">1.5 Free Space Loss</a></li>
                      </ul>
                      
                      <li>2. Other Calculators</li>
                      <ul>
                        <li><a href="{% url 'voltage_divider_docs' %}">2.1 Voltage Divider</a></li>
                        <li><a href="{% url 'rparallel_docs' %}">2.2 Parallel Resistors</a></li>
                        <li><a href="{% url 'cseries_docs' %}">2.3 Series Capacitors</a></li>
                      </ul>

                      <li>3. System Design Tools</li>
                      <ul>
                        <li><a href="{% url 'ipn_nf_docs' %}">3.1 Intercept Diagram</a></li>
                        <li><a href="{% url 'system_balance_docs' %}">3.2 System Balance</a></li>
                        <li>3.3 Frequency Planning</li>
                        <ul>
                          <li><a href="{% url 'image_frequency_planning_docs' %}">3.3.1 Image Frequency Planning</a></li>
                          <li><a href="{% url 'image_frequency_docs' %}">3.3.2 Image Frequency Calculator</a></li>
                          <li><a href="#">3.3.3 Half-IF Spurious</a></li>
                          <li><a href="#">3.3.4 Secondary Image</a></li>
                          <li><a href="#">3.3.5 Image Rejection Architectures</a></li>
                            <ul>
                              <li><a href="{% url 'hartley_irm_docs' %}">3.3.5.1 Hartley</a></li>
                              <li><a href="{% url 'ssb_mixer_notes' %}">3.3.5.2 SSB Mixer</a></li>
                              <li><a href="{% url 'weaver_irm_docs' %}">3.3.5.3 Weaver</a></li>
                            </ul>
                        </ul>
                      </ul>

                      <li>4. RF Circuit Design Tools</li>
                      <ul>
                        <li><a href="#">4.1 Filter Design</a></li>
                        <li><a href="#">4.2 Matching Network Design</a></li>
                        <li><a href="#">4.3 Attenuator Design</a></li>
                        <li><a href="#">4.4 Lumped Tranmission Line Design</a></li>
                      </ul>
                 </ul>
                </div>
              </div>



{% endblock %}

