{% extends "base_generic.html" %}

{% block content %}

  <!-- Reflection coefficient to impedance -->

  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Reflection coefficient to impedance and S<sub>11</sub></h2>
        </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <!-- Instantiate the form -->
        <form method="POST"> 
        {% csrf_token %}          
        {{ form_RtoZ.as_p }} 

        <input type = "submit" value = "Calculate"> 
        </form>

        <!-- Present the result -->
        {% if ZL %}
        <div class="card">
          <div class="card-body">
            <p> Z<sub>L</sub> = {{ZL}} &#937; </p>
            <p> S<sub>11</sub> = {{S11}} dB </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Impedance to reflection coefficient -->
  <div class="container-fluid" style="border:5px solid #cecece;">
    <div class="row">
        <div class="mx-auto">
          <h2 class="tool-name">Impedance to reflection coefficient and S<sub>11</sub></h2>
        </div>
    </div>

    <div class="row">
      <div class="mx-auto">
        <!-- Instantiate the form -->
        <form method="POST"> 
        {% csrf_token %}          
        {{ form_ZtoR.as_p }} 

        <input type = "submit" value = "Calculate"> 
        </form>

        <!-- Present the result -->
        {% if gamma_mag %}
        <div class="card">
          <div class="card-body">
            <p> &#915;  = {{ gamma_mag}} &#8736; {{gamma_ang}} &#176; </p>
            <p> S<sub>11</sub> = {{S11}} dB </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


{% endblock %}