{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">
    <h2 class="tool-list">Circuit Design Tools</h2>
    <div class = "row">
      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- FILTER DESIGN TOOL -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href='tool/filter_design'><h5 class="tool_title">Filter Design Tool</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Synthesize RF and MW filters</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="{% url 'filter_design_tool'%}" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 'ipn_nf_docs'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- MATCHING NETWORK DESIGN TOOL -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href='tool/matching_network_design'><h5 class="tool_title">Matching Network Design Tool</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Synthesize RF and MW matching networks</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="{% url 'matching_network_design_tool'%}" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 'matching_network_design_docs'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- ATTENUATOR DESIGN TOOL -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href='tool/attenuator_design'><h5 class="tool_title">Attenuator Design Tool</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Synthesize RF and MW attenuators</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="{% url 'lumped_trasnmission_line_tool'%}" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 'attenuator_design_docs'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- LUMPED TRANSMISSION LINE TOOL -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href='tool/lumped_trasmission_line'><h5 class="tool_title">Lumped Transmission Line Circuits</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Synthesize lumped trasnmission line circuit equivalents</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="{% url 'lumped_trasnmission_line_tool'%}" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 'lumped_trasnmission_line_docs'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>

    </div>
    
    <h2 class="tool-list">System Design Tools</h2>
    <div class="row">
      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- INTERCEPT POINT DIAGRAM -->
         <!-- TOOL TITLE -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href='tool/IPn_NF_diagram'><h5 class="tool_title">IP<sub>n</sub> diagram</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Plot the IP<sub>n</sub> diagram, the noise floor and calculate the dynamic range from two-tone test and NF data</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="tool/IPn_NF_diagram" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 'ipn_nf_docs'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>

        <div class="col-xs-3 col-md-3 box" style="background-color:#ffffff">
          <!-- FREQUENCY PLANNING TOOLS -->
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href="{% url 'image_frequency_catalog' %}"><h5 class="tool_title" style="margin-top: 10px">Frequency Planning Tools</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Plot the image frequency diagram, calculate the secondary image frequencies and the half-IF spurious</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="{% url 'image_frequency_catalog' %}" class="btn btn-dark" role="button">See Tools</a></div>
            <div class="p-2"><a href="{% url 'image_frequency_docs' %}" class="btn btn-info" role="button">See docs</a></div>
          </div>
        </div>

        <div class="col-xs-3 col-md-3 box" style="background-color:#ffffff">
          <!-- SYSTEM BALANCE -->
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href="{% url 'system_balance_tool' %}"><h5 class="tool_title" style="margin-top: 10px">System Balance</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Calculate the overall IP<sub>3</sub> and NF of a system</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="{% url 'system_balance_tool' %}" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="{% url 'system_balance_docs' %}" class="btn btn-info" role="button">See docs</a></div>
          </div>
        </div>
  
    </div>

    <h2 class="tool-list">Calculators</h2>
    
    <div class="row">
       <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff">         <!-- REFLECTION COEFFICIENT TOOLS -->
         <!-- TOOL TITLE -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href="tool/reflection_coefficient"><h5 class="tool_title">Reflection Coefficient Tools</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Different conversions involving &#915;, SWR, S<sub></sub> and Z<sub>0</sub></p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="tool/reflection_coefficient" class="btn btn-dark" role="button">See Tools</a></div>
           <div class="p-2"><a href="tool/reflection_coefficient/docs" class="btn btn-info" role="button">See docs</a></div>
         </div>
       </div>
       
       <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff">        <!-- RF POWER CONVERSION TOOL -->
         
         <!-- TOOL TITLE -->
         <div class= "d-flex flex-row justify-content-center">
           <a href='tool/rf_power_converter'><h5 class="tool_title" style="margin-top: 10px">RF Power Unit Converter</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center"">
           <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="tool/rf_power_converter/docs" class="btn btn-info" role="button">See docs</a></div>
         </div>
       </div>
 
       <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">        <!-- Wavelength to frequency converter -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href="tool/wavelength_and_frequency"><h5 class="tool_title">Wavelength & Frequency Converter</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Calculate wavelength given frequency and vice-versa</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/wavelength_and_frequency" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="tool/wavelength_and_frequency/docs" class="btn btn-info" role="button">See docs</a></div>
        </div>
        </div>
 
       <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
         <!-- CALCULATE BANDWIDTH IN OCTAVES -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href='tool/bw_octaves'><h5 class="tool_title">BW in Octaves & Q factor</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Calculate the bandwidth in octaves and the quality factor</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/bw_octaves" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="tool/bw_octaves/docs" class="btn btn-info" role="button">See docs</a></div>
        </div>
       </div>
    </div>
     
    <div class = "row">
      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff"><!-- SERIES CAPACITOR AND PARALLEL RESISTOR CALCULATOR -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href='tool/Capacitor_Resistor_Calculators'><h5 class="tool_title">Series Capacitors & Parallel resistors</h5></a>
        </div>

        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Calculate the equivalent of series and parallel R and C</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/Capacitor_Resistor_Calculators" class="btn btn-dark" role="button">See Tools</a></div>
          <div class="p-2"><a href="tool/Capacitor_Resistor_Calculators/parallel_resistor/docs" class="btn btn-info" role="button">See docs</a></div>
        </div>
      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff"><!-- SERIES CAPACITOR AND PARALLEL RESISTOR CALCULATOR -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href='tool/VoltageDivider'><h5 class="tool_title">Voltage Divider Design</h5></a>
        </div>

        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Design a resistive voltage divider and calculate the currents and the power dissipated</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/VoltageDivider" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="tool/VoltageDivider/docs" class="btn btn-info" role="button">See docs</a></div>
        </div>
      </div>

      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff"><!-- SERIES CAPACITOR AND PARALLEL RESISTOR CALCULATOR -->
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
          <a href='tool/FreeSpacePathLoss'><h5 class="tool_title">Free Space Path Loss</h5></a>
        </div>

        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center">
          <p>Calculate the path loss vs distance</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/FreeSpacePathLoss" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="tool/FreeSpacePathLoss/docs" class="btn btn-info" role="button">See docs</a></div>
        </div>
      </div>
    </div>


    <h2 class="tool-list">Display Tools</h2>
    <div class="row">
      <div class="col-xs-9 col-md-3 box" style="background-color:#ffffff;">
        <!-- INTERCEPT POINT DIAGRAM -->
         <!-- TOOL TITLE -->
         <div class= "d-flex flex-row justify-content-center" style="margin-top: 10px">
           <a href="{% url 's_parameter_viewer_tool'%}"><h5 class="tool_title">S-parameter Viewer</h5></a>
         </div>
         
         <!-- TOOL DESCRIPTION -->
         <div class="d-flex flex-row justify-content-center">
           <p>Plot and compare S2P data from different files</p>
         </div>
           
         <!-- BUTTONS -->
         <div class="d-flex flex-row justify-content-center">
           <div class="p-2"><a href="{% url 's_parameter_viewer_tool'%}" class="btn btn-dark" role="button">Go!</a></div>
           <div class="p-2"><a href="{% url 's_parameter_viewer_tool'%}" class="btn btn-info" role="button">See docs</a></div>
         </div>
      </div>
    </div>
{% endblock %}