{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">
    <h2 class="tool-list">Calculators</h2>
    
    <div class="d-flex flex-row justify-content-center">

      <!-- REFLECTION COEFFICIENT TOOL -->
        <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href='tool/reflection_coefficient'><h5 class="tool_title">Reflection Coefficient Tool</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Calculate &#915; and S<sub>11</sub> given Z<sub>L</sub> and vice-versa</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="tool/reflection_coefficient" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="tool/reflection_coefficient/docs" class="btn btn-info" role="button">See docs</a></div>
          </div>

        </div>

        <!-- RF POWER CONVERSION TOOL -->
        <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href='tool/rf_power_converter'><h5 class="tool_title">RF Power Unit Converter</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="tool/rf_power_converter/docs" class="btn btn-info" role="button">See docs</a></div>
          </div>

        </div>

       <!-- RF POWER CONVERSION TOOL -->
       <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
        <!-- TOOL TITLE -->
        <div class= "d-flex flex-row justify-content-center">
          <a href='tool/rf_power_converter'><h5 class="tool_title">RF Power Unit Converter</h5></a>
        </div>
        
        <!-- TOOL DESCRIPTION -->
        <div class="d-flex flex-row justify-content-center"">
          <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
        </div>
          
        <!-- BUTTONS -->
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
          <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-info" role="button">See docs</a></div>
        </div>

      </div>

    </div>
    <div class="d-flex flex-row justify-content-center">
         <!-- RF POWER CONVERSION TOOL -->
         <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href='tool/rf_power_converter'><h5 class="tool_title">RF Power Unit Converter</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-info" role="button">See docs</a></div>
          </div>

        </div>

         <!-- RF POWER CONVERSION TOOL -->
        <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href='tool/rf_power_converter'><h5 class="tool_title">RF Power Unit Converter</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-info" role="button">See docs</a></div>
          </div>

        </div>

         <!-- RF POWER CONVERSION TOOL -->
        <div class="col-xs-12 col-md-4" style="background-color:rgb(151, 176, 255); border: 10px solid white">
          
          <!-- TOOL TITLE -->
          <div class= "d-flex flex-row justify-content-center">
            <a href='tool/rf_power_converter'><h5 class="tool_title">RF Power Unit Converter</h5></a>
          </div>
          
          <!-- TOOL DESCRIPTION -->
          <div class="d-flex flex-row justify-content-center"">
            <p>Convert power to W, dBm, dB&#181;V and dBmV (50 or 75 &#937;)</p>
          </div>
            
          <!-- BUTTONS -->
          <div class="d-flex flex-row justify-content-center">
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-dark" role="button">Go!</a></div>
            <div class="p-2"><a href="tool/rf_power_converter" class="btn btn-info" role="button">See docs</a></div>
          </div>

        </div>
    </div>

  </div>
{% endblock %}